<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Pessoas Perdidas</h1>
                <hr/>
            </div>

            <div>
				<p>Caso se tenha perdido, tenha perdido alguém ou encontrado alguém perdido, não entre em pânico e dirija-se ao Centro de Apoio mais perto de si. </p>
				<p>Estas situações são mais comuns do que possa pensar e existem mecanismos apropriados para o ajudar. </p>
				<p>Para encontrar a localização dos Centros de Apoio, clique no botão abaixo.</p>
            </div>
                     
        </div>

    </div>
</section>