<section id="cover" class="mobile-only">
    <div id="directions_car" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>By Car</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
                    <br>
                    <p>If you choose to go by car, go early and use the A1 highway (Lisboa-Porto). The exit is signaled Fátima.</p>

                    <div class="bottom-space">
                        <a href="https://www.viaverde.pt/Ferramentas/informacao-de-transito" target="_blank" class="btn btn-default">
                            <i class="fa fa-car" aria-hidden="true"></i> Traffic Information
                        </a>
                    </div>

                <h3><b>A1 Highway:</b></h3>
                <p>The exit is indicated with Fátima, choose the North or South roundabout to enter Fátima. Be aware that the closest parking lots to the Sanctuary are most probably full.</p>
                <h4><i>The A1 from the North with intense traffic:</i></h4>
                <p>In case of intense traffic when getting close to Fátima, a good advice is to get the off ramp on the exit to Leiria and follow the N113 to Quinta da Sardinha, where you should turn right to Rua da Vela and follow the N357 to Fátima.</p>
                <h4><i>The A1 from the South with intense traffic:</i></h4>
                <p>In case of intense traffic when getting close to Fátima, we recommend to get the off ramp on the exit to Torres Novas and follow the N357 to Fátima.</p>
                <br>

                <h3><b>Coming from the interior of Portugal - A23:</b></h3>
                <p>Another access is from the interior of Portugal through the A23 and merging into the A1 in Torres Novas or follow the N357.</p>
                <br>

                <h3><b>Driving from the west:</b></h3>
                <p>For travelers coming from the west, there is the A8 to Leiria and then Tomar and then the N113 to Quinta da Sardinha, with a right turn to Rua da Vela and following the N357 to Fátima. <br>Another alternative from the A8 is taking the Valado dos Frades exit and entering the IC9 to Loureira, then to Fátima.</p>
                <br>

                <h3><b>Additional information</b></h3>
                <br>
                <h4><i>Traffic</i></h4>
                <p>From 9:00 in the morning of May 12th to 18:00 of May 13th there will be no circulation of vehicles on Avenida José Alves Carreira da Silva and on all roads between Avenida Beato Nuno and Avenida Papa João XXIII.<br>
                There could be special conditions to circulate on Avenida Beato Nuno and Avenida Papa João XXIII.<br>
                The only authorized vehicles on those roads and avenues are emergency service vehicles and licensed ones (Sanctuary Services for example).</p>
                <br>

                <h4><i>Parking</i></h4>
                <p>Parks 12, 13 e 14 will be open from 10:00 of the 11th of May for buses only.<br>
                There will be 20 areas for parking outside of the center of Fátima will shuttles from the parking to the center. These shuttles are available for free to and from Cova da Iria.<br>
                Shuttles start at 14:00 on the 11th, 12th and 13th of May with no stops to the center and will stop functioning on the 14th of May at a time that is still to be scheduled.<br>
                Points to pick up travelers of those parks:</p>
                <ol>
                    <li>Santo Agostinho roundabout</li>
                    <li>Santo António roundabout</li>
                </ol>

                <p>A part of park 12 is allocated to people with disabilities and that have their vehicles properly licensed.<br>
                A good advice is that people that work in Cova da Iria to use the shuttles provided.</p>
                <br>

                <h4><i>Camping/ RV</i></h4>
                <p>Camping is NOT permitted in the area around the Sanctuary or the bus parking lots.<br>
                Camping is permitted in a designated area behind Pingo Doce (South) and João Paulo II Stadium which have bathrooms, water, lights and security.<br>
                The RV’s can be parked in parking lot 4 and other parking lots properly designated for them.</p>
                <br>

                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/directions/car_sq.jpg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>