<section id="cover" class="mobile-only">
    <div id="directions_car" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>De Carro</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
				<p>Se for de carro, vá com antecedência e prefira a auto-estrada A1 (Lisboa-Porto). A saída é a de Fátima.</p>
				<p>Informação do Transito (https://www.viaverde.pt/Ferramentas/informacao-de-transito)</p>

				<h3>Auto-estrada A1:</h3>
				<p>A saída indicada é a de Fátima, optando por dirigir-se à Rotunda Norte ou à Rotunda Sul, tendo em atenção que os parques de estacionamento mais próximos do Santuário são os primeiros a ficar preenchidos.</p>
				<h4>A1 vindo de norte com trânsito intenso:</h4>
				<p>Em caso de trânsito intenso na aproximação a Fátima, a alternativa é deixar a A1 na saída anterior, em Leiria, e seguir pela estrada nacional N113 até Quinta da Sardinha, onde se deve cortar à direita para a Rua da Vela e seguir a estrada nacional N357 até Fátima.</p>
				<h4>A1 vindo de sul com trânsito intenso:</h4>
				<p>Em caso de a viagem ser feita em período de maior trânsito, recomenda-se sair da A1 em Torres Novas e seguir pela N357 até Fátima.</p>

				<h3>Vindo do interior A23:</h3>
				<p>Outra via de acesso para quem vem do interior do país é a A23, podendo entroncar na A1 em Torres Novas ou seguir aí pela N357.</p>
				 
				<h3>Vindo de oeste:</h3>
				<p>Para os viajantes com origem no oeste, há o recurso à A8 até Leiria e depois tomar a já referida estrada nacional N113 até Quinta da Sardinha, com corte à direita para a Rua da Vela e continuação pela estrada nacional N357 até Fátima.</p>
				<p>Uma alternativa a partir da A8 será sair em Valado dos Frades e entrar no Itinerário Complementar (IC) 9 até Loureira, seguindo depois para Fátima.</p>

				<h3>Informação Adicional</h3>
				<h4>Trânsito</h4>
				<p>A partir das 9h da manhã do dia 12 de maio até às 18h do dia 13 não há circulação automóvel (ligeiros e pesados) na Av. D. José Alves Correia da Silva e em todas as Ruas entre a Av. Beato Nuno e a Av. Papa João XXIII.</p>
				<p>Pode-se circular na Av. Beato Nuno e Papa João XXIII com todas as condicionantes que houver.</p>
				<p>As únicas viaturas autorizadas a circular são os veículos de emergência e credenciados (expl. Serviços do Santuário, Piquetes da EDP)</p>
				 
				<h4>Estacionamentos</h4>
				<p>Parques 12, 13 e 14 abertos a partir das 10h do dia 11 de maio exclusivos para autocarros.</p>
				<p>Serão criadas 20 bolsas de estacionamento que terão disponíveis transfers para fazer o transporte dos passageiros para a Cova da Iria, a título gratuito, bem como o seu regresso.</p>
				<p>O transfer é assegurado a partir das 14 horas do dia 11, 12 e 13 de maio sem paragem e dia 14 (hora de terminar por definir)</p>
				<p>Pontos de largada e tomada de passageiros:</p>
				<p>1-      Rotunda Santo Agostinho</p>
				<p>2-      Rotunda Santo António</p>

				<p>Parte do Parque 12 será destinada a pessoas de mobilidade reduzida que tenham os veículos devidamente sinalizados.</p>
				<p>Aconselha-se as pessoas que trabalham na Cova da Iria a utilizar as bolsas de estacionamento e respetivo transfer.</p>

				<h4>Campismo / Autocaravanas</h4>
				<p>Não é permitido campismo nas imediações do Santuário, nem nos parques destinados a estacionamento de autocarros</p>
				<p>O campismo será permitido num terreno atrás do Pingo Doce (Sul) e no Estádio João Paulo II que terá instalações sanitárias, água, luz e segurança.</p>
				<p>As autocaravanas ficarão no Parque 4 e em bolsas de estacionamento indicadas para esse efeito.</p>

                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/directions/car.jpeg'" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>