<section id="cover" class="mobile-only">
    <div id="directions_foot" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>A Pé</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
					<h3><b>Principais conselhos</b></h3>
					<ul>
						<li>Escolha o percurso antes de se fazer ao caminho;</li>
						<li>Opte por caminhadas mais curtas ;</li>
						<li>Faça imersão dos pés em água quente e sal;</li>
						<li>Leve:
							<ul>
								<li>Calçado confortável para caminhar, nunca opte por calçado novo.</li>
								<li>Roupa de algodão, larga, clara e com mangas;</li>
								<li>Agasalho para a noite;</li>
								<li>Protetor solar;</li>
								<li>Óculos de sol;</li>
								<li>Chapéu e guarda-chuva;</li>
								<li>Água em quantidade, frutos secos e açúcar.</li>
							</ul>
						</li>
						<li>Utilize vias secundárias, e caminhe em fila indiana, pela berma da estrada, com coletes refletores que assinalem à distância a presença do peregrino.</li>
						<li>As reuniões em grupo dos peregrinos devem ser feitas fora da estrada, nunca na berma.
						<li>Deve-se evitar bebidas alcoólicas e refeições pesadas, antes e durante as caminhadas, preferindo refeições leves e mais frequentes.</li>
						<li>Entre outras recomendações, deve colocar os pés mais altos do que a cabeça nas paragens para descanso, dormir pelo menos seis horas e manter uma higiene mínima.</li>
					</ul>
					<br>
		 
					<h3><b>Postos de Assistência na estrada</b></h3>
					<p>Ao longo dos percursos existem Postos de Assistência, assinalados com bandeira dos peregrinos a pé. É recomendável que o peregrino lave os pés e calce meias lavadas, preparando-se para a etapa seguinte da caminhada.</p>

					<p>São vários milhares de voluntários, médicos, enfermeiros e outros que vão trabalhar nesses locais de atendimento. Estes postos terão também assistência espiritual.</p>
					<br>

					<h3><b>Posto de Acolhimento em Fátima</b></h3>
					<p>No Santuário, o Posto de Acolhimento aos Peregrinos a Pé vai estar aberto a partir das 15h00 do dia 09 de maio.</p>
					<p>Aí, os peregrinos são atendidos por ordem de chegada, podendo usufruir, de forma gratuita, de dormida e de refeições, nas seguintes condições:</p>
					<ul>
					<li>A dormida efetua-se em salões ou tendas militares, em colchões no chão (com almofada, lençol e cobertor);</li>
					<li>Serão entregues senhas para que os peregrinos possam tomar sopa ao almoço e ao jantar, e café com leite ao pequeno-almoço.</li>
					</ul>
					<br>

					<h3><b>Parques no Santuário</b></h3>
					<p>No Santuário existem 14 parques gratuitos de Acolhimento de Peregrinos, cujo acesso é controlado pela GNR. </p>
					<p>Os parques, do 1 ao 8, à volta do Recinto de Oração, estão preparados para merendar. </p>
					<p>São assegurados outros espaços para viaturas, fora do centro de Fátima, e o transporte destes até ao recinto do Santuário.</p>
					<br>
		        </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/directions/walk.jpeg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>