<section id="cover" class="mobile-only">
    <div id="directions_foot" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>On Foot</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
                    <h3><b>Take</b></h3>
                    <ul>
                        <li>Comfortable footwear to walk, never take new footwear;</li>
                        <li>Cotton clothing, large fit, light and with sleeves;</li>
                        <li>Take something for the cold nights;</li>
                        <li>Sun Screen;</li>
                        <li>Sunglasses;</li>
                        <li>Headwear and umbrella;</li>
                        <li>Great amounts of water, dry fruits and sugar.</li>
                    </ul>
                    <br>

                    <h3><b>Main advice</b></h3>
                    <ul>
                        <li>Choose your route wisely before you start your pilgrimage;</li>
                        <li>Choose shorter routes;</li>
                        <li>Use secondary routes, and walk in a single file, along the side of the road, with reflector vests that indicate drivers of your presence from afar;</li>
                        <li>Group meetings should be done off the side of the road;</li>
                        <li>You should avoid alcoholic beverages and heavy meals, before and during the pilgrimage, choosing rather light and more frequent meals;</li>
                        <li>Other recommendations are: elevate your feet higher than your head during resting stops, sleep at least six hours and maintain minimum hygiene;</li>
                        <li>Dip your feet in warm water and salt.</li>
                    </ul>
                    <br>
         
                    <h3><b>Assistance Points on the Road</b></h3>
                    <p>Throughout the main routes there are Assistance Points, marked with a sign of pilgrims on foot. It is recommended that all pilgrims wash their feet and use washed socks, to get ready for the next journey ahead.</p>

                    <p>There are thousands of volunteers, doctors, nurses and many others that will help at those points. These points will also have spiritual assistance.</p>
                    <br>

                    <h3><b>Greeting Points in Fátima</b></h3>
                    <p>In the Sanctuary, the greeting point of pilgrims will be open at 15:00 starting May 9th. <br>There, the pilgrims will be attended in order of arrival, to use free sleeping and meal accommodations in the following conditions:</p>
                    <ul>
                    <li>Sleeping accommodations are in military tents or large rooms, on mattresses on the floor (with a pillow, sheet and blanket available);</li>
                    <li>Tickets will be handed out for pilgrims to have soup for lunch and dinner. Coffee and milk for breakfast.</li>
                    </ul>
                    <br>

                    <h3><b>Parking in the Sanctuary</b></h3>
                    <p>In the Sanctuary, there will be 14 free parking lots for Pilgrim Assistance whose access is controlled by GNR. </p>
                    <p>Parking lots 1 to 8, around the Prayer Area are prepared to have meals. </p>
                    <p>Other areas are assured for vehicles, away from the Fátima center, and shuttles from said areas to the center are arranged. </p>
                    <br>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/directions/foot_sq.jpg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>