<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Transportes Públicos</h1>
                <hr/>
            </div>

            <div class = "row">
				<h3>Autocarros</h3>
					<p>Nas datas mais próximas de 12 e 13 de Maio, vários operadores vão intensificar as ligações a Fátima, pelo que se aconselha a consulta dos respetivos sítios na Internet.</p>
					<p>O terminal rodoviário de Fátima situa-se na avenida D. José Alves Correia da Silva, a cerca de 100 metros da Basílica da Santíssima Trindade.</p>
					<br>
					<h3>Comboios</h3>

					<p>As ligações ferroviárias são também uma possibilidade. Contudo, não existe uma estação perto da localidade, tornando mais demorado e custoso o recurso a este meio de transporte. De qualquer modo, aconselha-se a consulta do sítio da CP na Internet, para verificar o reforço das ligações que façam paragem perto de Fátima.</p>

					<p>Fátima tem, nos seus arredores, duas estações. A mais conhecida, a estação de Chão de Maçãs, fica a 25 quilómetros do Santuário. A ligação a Fátima é feita utilizando táxi ou autocarros. A estação de Caxarias também serve Fátima, utilizado táxis e autocarros regulares para fazer a ligação com o Santuário. Esta é a estação aconselhada para quem se desloque ao final do dia.</p>
					<p>Alternativamente, pode sair na estação de Leiria (Gândara dos Olivais), onde existe uma praça de táxis e transferes para Leiria, de onde partem autocarros para Fátima, quase de hora a hora.</p>


            </div>
                     
        </div>

    </div>
</section>