<section id="cover" class="mobile-only">
    <div id="history_appearances" class="cover-content">
        <a href="https://commons.wikimedia.org/wiki/File:People_looking_miracle_sun.jpg">
            <h6>Fonte</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Aparições</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>Antes das aparições de Nossa Senhora, os Três Pastorinhos foram visitados por um anjo, identificado como Anjo de Portugal. Este pediu às crianças orações e sacrifícios.</p>
                    <p>A primeira aparição de Nossa Senhora aos Três Pastorinhos ocorreu a 13 de Maio de 1917, na Cova de Iria. A Nossa Senhora pediu às crianças que rezassem muito e convidou-as a voltar àquele local no dia 13 de cada mês, à mesma hora, durante 6 meses. Nos encontros seguintes, a Nossa Senhora pediu aos Pastorinhos para rezarem pelo fim da guerra (Primeira Guerra Mundial, 1914-1918). É lhes também revelado que Francisco e Jacinta terão uma vida curta enquanto Lúcia está destinada a expandir a devoção do Imaculado Coração de Nossa Senhora pelo mundo. </p>
                    <p>Na sua última aparição, Nossa Senhora revela-se como "a Senhora do Rosário", anunciando para breve o fim da guerra e pede a construção de uma capela naquele local, em sua honra. Estava um dia de chuva torrencial mas, no final da visita, o sol irrompe no firmamento, "dançando" vertiginosamente, com luzes multicolores. As imagens de S. José com o Menino Jesus a abençoar o mundo e Nossa Senhora surgem no céu, ao lado do sol. Este milagre, presenciado pelos milhares de pessoas que estavam no local, ficou conhecido como o Milagre do Sol. </p>
                    <p>O Segredo de Fátima é formado por revelações feitas por Nossa Senhora aos Três Pastorinhos. O conteúdo do segredo foi mantido em privado, apesar das inúmeras pressões e ameaças sofridas, só tendo sido divulgado pela irmã Lúcia, após ter recebido autorização divina. É constituído por três partes. </p>
                    <p>A primeira parte do Segredo de Fátima refere-se ao inferno. Foi mostrado aos pastorinhos as almas dos condenados a boiar num mar de fogo. A segunda parte consta da devoção e da consagração do mundo ao Imaculado Coração de Maria, com a referência concreta a uma nova guerra, pior que a que decorria na altura, caso as ofensas a Deus persistissem. A terceira parte do segredo apresenta uma Igreja peregrina e mártir, em que um cortejo encabeçado pelo Papa caminha por uma cidade em ruínas, pejada de cadáveres. No alto do monte, aos pés de uma cruz rudimentar, são massacrados por soldados inimigos. A Igreja sugere que esta imagem é uma alegoria ao atentado ao Papa João Paulo II, na Praça de São Pedro, a 13 de Maio de 1981. Atribuindo a sua salvação à Nossa Senhora de Fátima, o Papa ofereceu a bala que foi retirada do seu corpo ao Santuário de Fátima, tendo esta sido encastrada na coroa da Nossa Senhora do Rosário de Fátima. </p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/aparicao_quad.jpg" class="img-responsive">
                        <a href="https://commons.wikimedia.org/wiki/File:People_looking_miracle_sun.jpg">
                            <h6>Fonte</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>