<section id="cover" class="mobile-only">
    <div id="history_appearances" class="cover-content">
        <a href="https://commons.wikimedia.org/wiki/File:People_looking_miracle_sun.jpg">
            <h6>Source</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Apparitions</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>Before the apparitions of Our Lady, the Three Shepherds were visited by an Angel, identified as the Angel of Portugal. The Angel asked the children for prayers and sacrifices.</p>
                    <p>The first apparition of Our Lady to the Three Little Shepherds took place on the 13th of May 1917, at Cova da Iria. Our Lady asked the children to pray a lot and asked them to go back to that place on the 13th day of each month, at the same time, during 6 months. Following the meetings, Our Lady asked the children to pray for the end of the war (World War I, 1914-1918). She also revealed that Francisco and Jacinta will have a short life while Lúcia is destined to expand the devotion of the Immaculate Heart of Our Lady to the world.</p>
                    <p>On her last apparition, Our Lady reveals herself as "the Lady of the Rosary", announcing soon the end of the war and calls for the construction of a chapel at that location, in her honor. It was a very rainy day but, at the end of the apparition, the Sun breaks out in the sky, "dancing" precipitously, with multicolored lights. The images of St. Joseph with the baby Jesus to bless the world and Our Lady appear in the sky, next to the Sun. This miracle, witnessed by thousands of people who were at the scene, became known as the miracle of the Sun.</p> 
                    <p>The secret of Fátima was revealed by Our Lady to the Three Little Shepherds. The contents of the secret were kept in private, despite numerous threats and pressures, and would only be revealed by Sister Lúcia, after receiving permission from God. The secret consists of three parts.</p>
                    <p>The first part of the secret of Fátima refers to hell. The souls of the damned floating in a sea of fire was the first part of the secret shown to the shepherds. The second part consists of devotion and consecration of the world to the Immaculate Heart of Mary, with specific reference to a new war, worse than what was occurring at the time, if the offense to God persisted. The third part of the secret presents a pilgrim Church and martyr, in a procession headed by the Pope, that walks through a ruined city, littered with corpses. At the top of the hill, at the foot of a rudimentary cross, people are massacred by enemy soldiers. The Church suggests that this picture is an allegory to the attempt to Pope John Paul II, in St. Peter's square on May 13th 1981. Assigning his salvation to our Lady of Fátima, the Pope offered the bullet that was removed from his body to the Fátima shrine, which was built into the Crown of Our Lady of the Rosary of Fátima.</p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/aparicao_quad.jpg" class="img-responsive">
                        <a href="https://commons.wikimedia.org/wiki/File:People_looking_miracle_sun.jpg">
                            <h6>Source</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>