<div class="col-sm-12 col-md-8 col-md-offset-2 text-justify">

    <div class="desktop-medium">
        <h1>Appearances</h1>
        <hr/>
    </div>

    <div class = "row">
        <div class="col-md-8 col-xs-12">
            <p>Add</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="/images/header.jpg" class="img-responsive" width=50%>
        </div>
    </div>
             
</div>