<section id="cover" class="mobile-only">
    <div id="history_lady" class="cover-content">
        <a href="https://www.flickr.com/photos/pilgrimfatima/11932578126">
            <h6>Fonte</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Nossa Senhora de Fátima</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>O culto da Nossa Senhora de Fátima (formalmente Nossa Senhora do Rosário de Fátima) surgiu no início do século XX, com base no relato de aparições marianas a três pastorinhos no lugar da Cova da Iria, freguesia de Fátima, Portugal.</p>
                    <p>Entre 13 de Maio e 13 de Outubro de 1917, Lúcia (10 anos), Francisco (9 anos) e Jacinta (7 anos) testemunharam a aparição mensal de Nossa Senhora. Apesar de as três crianças a conseguirem ver, apenas Jacinta e Lúcia a ouviam, e só Lúcia falava com ela. As aparições de Fátima culminaram com o Milagre do Sol, presenciado por milhares de pessoas.</p>
                    <p>Identificando-se como "a Senhora do Rosário", a Virgem Maria fez um apelo à oração e ao sacrifício, numa mensagem de fé, esperança e amor.</p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/lady_sq.jpg" class="img-responsive">
                        <a href="https://www.flickr.com/photos/pilgrimfatima/11932578126">
                            <h6>Fonte</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>