<section id="cover" class="mobile-only">
    <div id="history_lady" class="cover-content">
        <a href="https://www.flickr.com/photos/pilgrimfatima/11932578126">
            <h6>Source</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Our Lady of Fátima</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>The cult of our Lady of Fátima (formally Our Lady of the Rosary) emerged in the early 20th century, based on the reported Marian apparitions to the Three Shepherd children in Cova da Iria, parish of Fátima, Portugal.</p>
                    <p>Between May 13th and October 13th 1917, Lúcia (10 years old), Francisco (9 years old) and Jacinta (7 years old) witnessed the apparition of Our Lady. Although the all three children could see Our Lady, only Lúcia and Jacinta could hear her, but Lúcia was the only one capable of speaking to her. The apparitions of Fatima culminated with the miracle of the Sun, witnessed by thousands of people.</p>
                    <p>Identifying herself as "the Lady of the Rosary", the Virgin Mary made a plea for prayer and sacrifice, in a message of faith, hope and love.</p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/lady_sq.jpg" class="img-responsive">
                        <a href="https://www.flickr.com/photos/pilgrimfatima/11932578126">
                            <h6>Source</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>