<section id="cover" class="mobile-only">
    <div id="history_shepherds" class="cover-content">
        <a href="https://commons.wikimedia.org/wiki/File:Fatima_children_with_rosaries.jpg">
            <h6>Fonte</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Os Três Pastorinhos</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>Os Pastorinhos de Fátima foram três crianças portuguesas que testemunharam as aparições do Anjo de Portugal e de Nossa Senhora, na Cova da Iria, Fátima, nos anos de 1916 e 1917. A mais velha, Lúcia, tinha na altura 10 anos, e os seus primos Francisco e Jacinta, tinha 9 e 7 anos, respectivamente. </p>
                    <p>Os Três Pastorinhos percepcionaram as Aparições de forma diferente: Lúcia conseguia ver, ouvir e falar durante as Aparições; Jacinta via e ouvia; Francisco apenas via, pelo que dependia da prima e da irmã para lhe relatarem o que se tinha passado. </p>
                    <p>Na época, as crianças foram vítimas de perseguições por parte de conhecidos e de familiares, que não acreditavam nas suas visões, e por parte de entidades, que queriam calar este tipo de religiosidade. Contudo, mantiveram sempre a sua fé inabalável. </p>
                    <p>Francisco e Jacinta faleceram em menos de dois anos após as aparições, de doença prolongada e dolorosa, oferecendo todos os seus sofrimentos pela conversão dos pecadores, pela paz no mundo, pelo Santo Padre e pelo Nosso Senhor. A 13 de Maio de 2000, foram beatificados pelo Papa João Paulo II e a sua canonização vai decorrer a 13 de Maio de 2017, durante as celebrações do centenário das Aparições de Fátima.</p>
                    <p>A única sobrevivente dos 3 pastorinhos percorreu um longo caminho até se tornar Carmelita Descalça. Retirada do mundo, viveu no Carmelo de São José, em Coimbra, onde faleceu a 13 de Fevereiro de 2005. A pedido de numerosos fiéis de todo o mundo, o processo de beatificação da vidente foi antecipado e encontra-se agora em análise. </p>
                    <p>Os restos mortais dos três pastorinhos repousam na Basílica da Cova da Iria.</p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/children.jpg" class="img-responsive">
                        <a href="https://pt.m.wikipedia.org/wiki/Ficheiro:ChildrensofFatima.jpg">
                            <h6>Source</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>