<div class="col-sm-12 col-md-8 col-md-offset-2 text-justify">

    <div class="desktop-medium">
        <h1>Os Três Pastorinhos</h1>
        <hr/>
    </div>

    <div class = "row">
        <div class="col-md-8 col-xs-12">
            <p>Os Pastorinhos de Fátima, foram três crianças portuguesas que testemunharam as aparições do Anjo de Portugal e de Nossa Senhora, na Cova da Iria, Fátima, nos anos de 1916 e 1917. A mais velha, Lúcia, tinha na altura 10 anos, e os seus primos Francisco, tinha 9 anos, e Jacinta, apenas 7.</p>

			<p>Os três Pastorinhos percepcionaram as Aparições de forma difente: Lúcia conseguia ver, ouvir e falar durante as Aparições; Jacinta apenas via e ouvia; Francisco apenas via, pelo que dependia da prima e da irmã para lhe relatarem o que se tinha passado.</p>

			<p>Na época, estas crianças foram vítimas de perseguições por parte de conhecidos e de familiares, que não acreditavam nas suas visões, e por parte de entidades, que queriam calar este tipo de religiosidade. Contudo, mantiveram sempre a sua fé inabalável.</p>

			<p>Francisco e Jacinta faleceram em menos de dois anos após as aparições, de doença prolongada e dolorosa, oferecendo todos os seus sofrimentos pela conversão dos pecadores, pela paz no mundo e pelo Santo Padre. A 13 de Maio de 2000, foram beatificados pelo Papa João Paulo II. O processo para a sua canonização encontra-se em decurso.</p>

			<p>A única sobrevivente dos 3 pastorinhos percorreu um longo caminho até se tornar Carmelita Descalça. Retirada do mundo, viveu no Carmelo de São José, em Coimbra, onde faleceu a 13 de Fevereiro de 2005. A pedido de numeroso fieis de todo o mundo, o processo de beatificação da vidente foi antecipado e encontra-se agora em análise.</p>

			<p>Os restos mortais dos três pastorinhos repousam na Basílica da Cova da Iria.</p>
     </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="/images/header.jpg" class="img-responsive" width=50%>
        </div>
    </div>
             
</div>