<section id="cover" class="mobile-only">
    <div id="history_shepherds" class="cover-content">
        <a href="https://commons.wikimedia.org/wiki/File:Fatima_children_with_rosaries.jpg">
            <h6>Fonte</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>The Three Shepherds</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>The little shepherds of Fátima were three Portuguese children who witnessed the apparitions of the Angel of Portugal and of Our Lady, in Cova da Iria, Fátima, in 1916 and 1917. The eldest, Lúcia, was 10 years old at the time, and her cousins Francisco and Jacinta, 9 and 7 years, respectively.</p>
                    <p>The Three little shepherds witnessed the apparitions differently: Lúcia could see, hear and speak during the apparitions; Jacinta saw and heard; Francisco only saw, and therefore depended on his cousin and sister to report what had happened.</p>
                    <p>At the time, the children were victims of persecutions by relatives and others, who did not believe in these visions, and by entities, who wanted to shut this kind of talks. However, they maintained their faith unshakeable.</p>
                    <p>Francisco and Jacinta died, in less than two years after the apparitions, of prolonged and painful illness, offering all their sufferings for the conversion of sinners, for world peace, by the Holy Father and Our Lord. On the 13th of May 2000, they were beatified by Pope John Paul II and the canonization will be on the 13th May 2017, during the celebrations of the centennial of the apparitions of Fátima.</p>
                    <p>The only survivor of the 3 shepherds had come a long way to become a Barefoot Carmelites. Taken from this world, she lived in the Carmel of St. Joseph, in Coimbra, where she died on the 13th of February 2005. At the request of numerous faithful from around the world, the process of beatification of Sister Lúcia was anticipated and is now under review.</p>
                    <p>The remains of the three Shepherd children lie in the Basilica at Cova da Iria.</p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/children.jpg" class="img-responsive">
                        <a href="https://pt.m.wikipedia.org/wiki/Ficheiro:ChildrensofFatima.jpg">
                            <h6>Source</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>