
            <div class="col-sm-12 col-md-8 col-md-offset-2">

                <div class="desktop-medium">
                    <h1>About</h1>
                    <hr/>
                </div>

                <div class = "row">
                    <div class="col-md-8 col-xs-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi leo, tempus at leo et, rutrum rhoncus felis. Etiam id aliquet odio. Morbi felis felis, lobortis ac ullamcorper a, sollicitudin vel ipsum. Aliquam nec augue quis tortor eleifend semper. Pellentesque sit amet elit pellentesque, tincidunt metus sit amet, volutpat purus. Sed porta massa non eros ultricies, id imperdiet augue malesuada. Vestibulum dapibus efficitur neque sit amet faucibus. Proin ornare ac mi vitae volutpat. Nam vel velit nulla. Mauris at ex ac justo accumsan aliquet. Quisque ultrices lobortis mollis. Suspendisse ut lacus velit. Nunc magna nulla, lobortis sit amet turpis at, convallis luctus massa. Suspendisse hendrerit, neque et dictum rhoncus, enim ante fringilla lorem, non tempus tellus dui non ipsum.</p>

                        Sed lobortis dolor quis massa pellentesque molestie. Phasellus dignissim purus placerat, accumsan elit ac, bibendum eros. Morbi in leo interdum, sagittis enim at, placerat lacus. Maecenas nec risus hendrerit purus blandit dignissim vitae commodo orci. Nam efficitur quis ipsum non vestibulum. Nullam porttitor lorem mi, eget volutpat risus iaculis sed. Maecenas dapibus porta aliquam. Nunc lorem odio, sodales at maximus ut, convallis non nulla. Maecenas dignissim maximus felis, non porta purus bibendum ut. Maecenas dapibus turpis id elit aliquam, eu cursus nibh pellentesque. Donec pellentesque scelerisque nisl, scelerisque dignissim est vehicula at.

                        Integer purus magna, pellentesque ut massa et, molestie pharetra erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec metus magna, posuere posuere aliquam vitae, blandit vel magna. Sed sit amet elit sit amet risus aliquet euismod. Praesent vestibulum lorem mauris, non accumsan nibh vehicula non. Morbi semper dignissim blandit. Nulla varius est purus, in accumsan arcu pellentesque non.

                        Nam nunc magna, ornare quis lacus eu, luctus auctor ex. Etiam dictum vulputate nulla, id imperdiet sapien gravida et. Morbi porta risus sed orci euismod, non interdum leo viverra. Aliquam vel turpis dignissim, rutrum sem in, posuere massa. Aenean in tristique tellus. Proin quis ipsum quam. Vestibulum dignissim venenatis nisi, ut dignissim nisl egestas sollicitudin. Integer tempus, enim non sodales consequat, ligula tortor malesuada justo, ac fringilla eros sem ut elit. Morbi maximus tellus sed fringilla tristique. In a lectus porttitor, fermentum massa vitae, auctor risus. Donec consequat consequat sem sit amet porttitor. Sed ullamcorper pulvinar turpis at viverra. Integer fermentum lacus et nisi lacinia, et ultrices risus placerat. Pellentesque at elementum tellus.

                        Donec quis consectetur eros, nec iaculis orci. Phasellus blandit tempus malesuada. Aenean neque sem, auctor vitae neque quis, tempor auctor turpis. Nullam euismod magna nec tristique facilisis. Etiam a rutrum lacus. Sed quis tincidunt nisl. Fusce ut neque odio. Mauris a nunc ut ex lobortis consectetur. Nullam dignissim vitae risus in ornare. In hac habitasse platea dictumst. Quisque imperdiet dignissim efficitur. Donec fringilla sem neque, sit amet ornare est mattis a. Curabitur tristique nisi vitae dui malesuada feugiat. Cras risus diam, molestie posuere neque a, venenatis accumsan sapien.
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <img src="/images/header.jpg" class="img-responsive" width=50%>
                    </div>
                </div>

                <div class = "row">
                    <div class="col-md-8 col-xs-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi leo, tempus at leo et, rutrum rhoncus felis. Etiam id aliquet odio. Morbi felis felis, lobortis ac ullamcorper a, sollicitudin vel ipsum. Aliquam nec augue quis tortor eleifend semper. Pellentesque sit amet elit pellentesque, tincidunt metus sit amet, volutpat purus. Sed porta massa non eros ultricies, id imperdiet augue malesuada. Vestibulum dapibus efficitur neque sit amet faucibus. Proin ornare ac mi vitae volutpat. Nam vel velit nulla. Mauris at ex ac justo accumsan aliquet. Quisque ultrices lobortis mollis. Suspendisse ut lacus velit. Nunc magna nulla, lobortis sit amet turpis at, convallis luctus massa. Suspendisse hendrerit, neque et dictum rhoncus, enim ante fringilla lorem, non tempus tellus dui non ipsum.</p>

                        Sed lobortis dolor quis massa pellentesque molestie. Phasellus dignissim purus placerat, accumsan elit ac, bibendum eros. Morbi in leo interdum, sagittis enim at, placerat lacus. Maecenas nec risus hendrerit purus blandit dignissim vitae commodo orci. Nam efficitur quis ipsum non vestibulum. Nullam porttitor lorem mi, eget volutpat risus iaculis sed. Maecenas dapibus porta aliquam. Nunc lorem odio, sodales at maximus ut, convallis non nulla. Maecenas dignissim maximus felis, non porta purus bibendum ut. Maecenas dapibus turpis id elit aliquam, eu cursus nibh pellentesque. Donec pellentesque scelerisque nisl, scelerisque dignissim est vehicula at.

                        Integer purus magna, pellentesque ut massa et, molestie pharetra erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec metus magna, posuere posuere aliquam vitae, blandit vel magna. Sed sit amet elit sit amet risus aliquet euismod. Praesent vestibulum lorem mauris, non accumsan nibh vehicula non. Morbi semper dignissim blandit. Nulla varius est purus, in accumsan arcu pellentesque non.

                        Nam nunc magna, ornare quis lacus eu, luctus auctor ex. Etiam dictum vulputate nulla, id imperdiet sapien gravida et. Morbi porta risus sed orci euismod, non interdum leo viverra. Aliquam vel turpis dignissim, rutrum sem in, posuere massa. Aenean in tristique tellus. Proin quis ipsum quam. Vestibulum dignissim venenatis nisi, ut dignissim nisl egestas sollicitudin. Integer tempus, enim non sodales consequat, ligula tortor malesuada justo, ac fringilla eros sem ut elit. Morbi maximus tellus sed fringilla tristique. In a lectus porttitor, fermentum massa vitae, auctor risus. Donec consequat consequat sem sit amet porttitor. Sed ullamcorper pulvinar turpis at viverra. Integer fermentum lacus et nisi lacinia, et ultrices risus placerat. Pellentesque at elementum tellus.

                        Donec quis consectetur eros, nec iaculis orci. Phasellus blandit tempus malesuada. Aenean neque sem, auctor vitae neque quis, tempor auctor turpis. Nullam euismod magna nec tristique facilisis. Etiam a rutrum lacus. Sed quis tincidunt nisl. Fusce ut neque odio. Mauris a nunc ut ex lobortis consectetur. Nullam dignissim vitae risus in ornare. In hac habitasse platea dictumst. Quisque imperdiet dignissim efficitur. Donec fringilla sem neque, sit amet ornare est mattis a. Curabitur tristique nisi vitae dui malesuada feugiat. Cras risus diam, molestie posuere neque a, venenatis accumsan sapien.
                    </div>
                </div>

        
            </div>


