<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>SOS</h1>
                <hr/>
            </div>

            <div class = "row text-center">
            	<div class="col-xs-12 col-sm-6 col-sm-offset-3" >
            		<p><b>In case of an emergency, click the button beloow to call EMERGENCY SERVICES.</b><br>
                    Use only in case of actual emergency, please do not call for any other situation. For that, use alternative numbers.
                    </p>
            	</div>
            	<div class="col-xs-12 col-sm-6 col-sm-offset-3" id="emergency-button">
            		<a class="btn btn-danger btn-xlg" href="tel:112">
					   <span class="glyphicon glyphicon-earphone"></span> CALL EMERGENCY SERVICES
					</a>
            	</div>
            </div>
                     
        </div>

    </div>
</section>