<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Notícias</h1>
                <hr/>
            </div>

            <div class = "row text-center">
            	<div class="col-xs-12 col-sm-6" >
            		<p>Listagem de notícias atualizadas ao vivo, disponível na versão mobile.</p>
            	</div>
				<div class="col-xs-12 col-sm-6" >
					<img src="/images/index/features/app.jpg" width="50%" class="img-responsive center-block" alt=""> 
            	</div>
            </div>
                     
        </div>

    </div>
</section>