<div class="col-sm-12 col-md-8 col-md-offset-2 text-justify">

    <div class="desktop-medium">
        <h1>Orações</h1>
        <hr/>
    </div>

    <div class = "row">
        <div class="col-md-8 col-xs-12">

        	<div id="prayers-fatima">

        		<h3>Orações de Fátima</h3>
				<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-anjo" aria-expanded="false" aria-controls="prayers-fatima-anjo">
					<h4>Orações ensinadas pelo Anjo aos três videntes</h4>
				</a>
				<div class="collapse" id="prayers-fatima-anjo">
					<div>
				    <p>Meu Deus, eu creio, adoro, espero e amo-Vos. Peço-Vos perdão para os que não creem, não adoram, não esperam e não Vos amam.</p>
				    <br>
 					<p>Santíssima Trindade, Pai, Filho e Espírito Santo, adoro-Vos profundamente e ofereço-Vos o preciosíssimo Corpo, Sangue, Alma e Divindade de Jesus Cristo, presente em todos os sacrários da terra, em reparação dos ultrajes, sacrilégios e indiferenças com que Ele mesmo é ofendido. E pelos méritos infinitos do Seu Santíssimo Coração e do Coração Imaculado de Maria, peço-Vos a conversão dos pobres pecadores.</p>
				 	</div>
				</div>
				<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-nossa-senhora" aria-expanded="false" aria-controls="prayers-fatima-nossa-senhora">
					<h4>Orações ensinadas por Nossa Senhora do Rosário aos três videntes</h4>
				</a>
				<div class="collapse" id="prayers-fatima-nossa-senhora">
					<div>
				    	<p>Ó Jesus, é por Vosso amor, pela conversão dos pecadores e em reparação pelos pecados cometidos contra o Imaculado Coração de Maria!</p>
				    	<br>
				    	<p>Ó meu Jesus, perdoai-nos, livrai-nos do fogo do inferno; levai as almas todas para o Céu, principalmente as que mais precisarem.</p>
				 	</div>
				</div>
				<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-impulso" aria-expanded="false" aria-controls="prayers-fatima-impulso">
					<h4>Oração comunicada aos videntes num impulso íntimo</h4>
				</a>
				<div class="collapse" id="prayers-fatima-impulso">
					<div>
				    	<p>Ó Santíssima Trindade, eu Vos adoro. Meu Deus, meu Deus, eu Vos amo no Santíssimo Sacramento.</p>
				 	</div>
				</div>
			</div>


        	<div id="prayers-jubilee">
        		<h3>Orações Jubilares</h3>
				<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-apostolos" aria-expanded="false" aria-controls="prayers-jubilee-apostolos">
					<h4>Símbolo Dos Apóstolos</h4>
				</a>
				<div class="collapse" id="prayers-jubilee-apostolos">
					<div>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
				 	</div>
				</div>
				<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-papa" aria-expanded="false" aria-controls="prayers-jubilee-papa">
					<h4></h4>
				  Oração Pelo Papa
				</a>
				<div class="collapse" id="prayers-jubilee-papa">
					<div>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
					    Senhor,
						Bom Pastor Da Humanidade,
						Que Confiaste A Pedro E Aos Seus Sucessores
						A Missão De Fortalecer Os Irmãos Na Fé
						E De Os Iluminar Na Escuta Da Palavra
						– Neste Lugar Em Que Os Pastorinhos De Fátima
						Testemunharam Uma Profunda Devoção Ao Santo Padre
						E Um Intenso Amor À Igreja –,
						Nós Te Pedimos Que O Teu Espírito De Sabedoria
						Ilumine O Papa N Na Sua Missão De Sucessor De Pedro;
						Que A Tua Misericórdia O Proteja E O Conforte;
						Que O Testemunho Dos Teus Fiéis O Anime Na Sua Missão
						E Que A Terna Presença De Maria Para Ele Seja Sinal Do Teu Amor;
						Seja Ele Forte Na Fé, Audaz Na Esperança E Zeloso Na Caridade.
						Tu Que És Deus Com O Pai, Na Unidade Do Espírito Santo.
						Ámen.
						Pai-nosso. Ave-maria. Glória.
				 	</div>
				</div>
				<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-peace" aria-expanded="false" aria-controls="prayers-jubilee-peace">
					<h4></h4>Oração Pela Paz
				</a>
				<div class="collapse" id="prayers-jubilee-peace">
					<div>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
					    Senhor, Pai Santo,
						Que Em Jesus Nos Deste A Tua Paz
						E Por Ele Nos Quiseste Conduzir Ao Teu Coração
						– Neste Lugar Em Que A Virgem Maria Nos Convida À Oração Pela Paz No Mundo
						E Em Que O Anjo Da Paz Nos Exorta A Adorarmos Somente A Deus –,
						Nós Te Pedimos Que Entre Os Povos Reine A Concórdia;
						Que Os Responsáveis Das Nações Encontrem Caminhos De Justiça,
						Que Todos Alcancemos A Paz De Coração
						E Que, Por Intercessão Da Rainha Da Paz,
						Sejamos Construtores De Um Mundo Mais Fraterno.
						Por Cristo, Nosso Senhor.
						Ámen.
				 	</div>
				 <a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-consagration" aria-expanded="false" aria-controls="prayers-jubilee-consagration">
					<h4></h4>Oração Jubilar De Consagração
				</a>
				<div class="collapse" id="prayers-jubilee-consagration">
					<div>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
					    Salve, Mãe Do Senhor,
						Virgem Maria, Rainha Do Rosário De Fátima!
						Bendita Entre Todas As Mulheres,
						És A Imagem Da Igreja Vestida Da Luz Pascal,
						És A Honra Do Nosso Povo,
						És O Triunfo Sobre A Marca Do Mal.
						Profecia Do Amor Misericordioso Do Pai,
						Mestra Do Anúncio Da Boa-nova Do Filho,
						Sinal Do Fogo Ardente Do Espírito Santo,
						Ensina-nos, Neste Vale De Alegrias E Dores,
						As Verdades Eternas Que O Pai Revela Aos Pequeninos.
						Mostra-nos A Força Do Teu Manto Protetor.
						No Teu Imaculado Coração,
						Sê O Refúgio Dos Pecadores
						E O Caminho Que Conduz Até Deus.
						Unido/A Aos Meus Irmãos,
						Na Fé, Na Esperança E No Amor,
						A Ti Me Entrego.
						Unido/A Aos Meus Irmãos, Por Ti, A Deus Me Consagro,
						Ó Virgem Do Rosário De Fátima.
						E, Enfim, Envolvido/A Na Luz Que Das Tuas Mãos Nos Vem,
						Darei Glória Ao Senhor Pelos Séculos Dos Séculos.
						Ámen.
					 </div>
				</div>
			</div>
		</div>


        	<div id="prayers-xxx">
        		<h3></h3>
				<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					<h4></h4>
				</a>
				<div class="collapse" id="collapseExample">
					<div>
				    	<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
				 	</div>
				</div>
				<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					<h4></h4>
				</a>
				<div class="collapse" id="collapseExample">
					<div>
				    	<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
				 	</div>
				</div>
				<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					<h4></h4>
				</a>
				<div class="collapse" id="collapseExample">
					<div>
				    	<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
				 	</div>
				</div>
			</div>


        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="/images/header.jpg" class="img-responsive" width=50%>
        </div>
    </div>

</div>
          