<section id="cover" class="mobile-only">
	<div id="prayer"></div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid" id="prayers">

		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

		    <div class="desktop-medium">
		        <h1>Orações</h1>
		        <hr/>
		    </div>

		    <div class = "row" id="pray-info">
		        <div class="col-sm-8" id="prayers-info">

		        	<div id="prayers-fatima" class="prayer-set">

		        		<h3>Orações de Fátima</h3>
						<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-anjo" aria-expanded="false" aria-controls="prayers-fatima-anjo">
							<h4>Orações ensinadas pelo Anjo aos três videntes <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-fatima-anjo">
							<div>
							    <p>Meu Deus, eu creio, adoro, espero e amo-Vos. Peço-Vos perdão para os que não creem, não adoram, não esperam e não Vos amam.<br>
							    <br>
			 					Santíssima Trindade, Pai, Filho e Espírito Santo, adoro-Vos profundamente e ofereço-Vos o preciosíssimo Corpo, Sangue, Alma e Divindade de Jesus Cristo, presente em todos os sacrários da terra, em reparação dos ultrajes, sacrilégios e indiferenças com que Ele mesmo é ofendido. E pelos méritos infinitos do Seu Santíssimo Coração e do Coração Imaculado de Maria, peço-Vos a conversão dos pobres pecadores.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-nossa-senhora" aria-expanded="false" aria-controls="prayers-fatima-nossa-senhora">
							<h4>Orações ensinadas por Nossa Senhora do Rosário aos três videntes <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-fatima-nossa-senhora">
							<div>
						    	<p>Ó Jesus, é por Vosso amor, pela conversão dos pecadores e em reparação pelos pecados cometidos contra o Imaculado Coração de Maria!<br>
						    	<br>
						    	Ó meu Jesus, perdoai-nos, livrai-nos do fogo do inferno; levai as almas todas para o Céu, principalmente as que mais precisarem.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-impulso" aria-expanded="false" aria-controls="prayers-fatima-impulso">
							<h4>Oração comunicada aos videntes num impulso íntimo <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-fatima-impulso">
							<div>
						    	<p>Ó Santíssima Trindade, eu Vos adoro. Meu Deus, meu Deus, eu Vos amo no Santíssimo Sacramento.</p>
						 	</div>
						</div>
					</div>


		        	<div id="prayers-jubilee" class="prayer-set">
		        		<h3>Orações Jubilares</h3>
						<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-apostolos" aria-expanded="false" aria-controls="prayers-jubilee-apostolos">
							<h4>Símbolo Dos Apóstolos <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-apostolos">
							<div>
								<p>Creio Em Deus,<br>
								Pai Todo-poderoso, Criador Do Céu E Da Terra;<br>
								E Em Jesus Cristo, Seu Único Filho, Nosso Senhor,<br>
								Que Foi Concebido Pelo Poder Do Espírito Santo;<br>
								Nasceu Da Virgem Maria;<br>
								Padeceu Sob Pôncio Pilatos,<br>
								Foi Crucificado, Morto E Sepultado;<br>
								Desceu À Mansão Dos Mortos;<br>
								Ressuscitou Ao Terceiro Dia;<br>
								Subiu Aos Céus;<br>
								Está Sentado À Direita De Deus Pai Todo-poderoso,<br>
								De Onde Há De Vir A Julgar Os Vivos E Os Mortos.<br>
								Creio No Espírito Santo;<br>
								Na Santa Igreja Católica;<br>
								Na Remissão Dos Pecados;<br>
								Na Ressurreição Da Carne;<br>
								Na Vida Eterna.<br>
								Ámen.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-papa" aria-expanded="false" aria-controls="prayers-jubilee-papa">
							<h4>Oração Pelo Papa <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-papa">
							<div>
								<p>Senhor,<br>
								Bom Pastor Da Humanidade,<br>
								Que Confiaste A Pedro E Aos Seus Sucessores<br>
								A Missão De Fortalecer Os Irmãos Na Fé<br>
								E De Os Iluminar Na Escuta Da Palavra<br>
								– Neste Lugar Em Que Os Pastorinhos De Fátima<br>
								Testemunharam Uma Profunda Devoção Ao Santo Padre<br>
								E Um Intenso Amor À Igreja –,<br>
								Nós Te Pedimos Que O Teu Espírito De Sabedoria<br>
								Ilumine O Papa N Na Sua Missão De Sucessor De Pedro;<br>
								Que A Tua Misericórdia O Proteja E O Conforte;<br>
								Que O Testemunho Dos Teus Fiéis O Anime Na Sua Missão<br>
								E Que A Terna Presença De Maria Para Ele Seja Sinal Do Teu Amor;<br>
								Seja Ele Forte Na Fé, Audaz Na Esperança E Zeloso Na Caridade.<br>
								Tu Que És Deus Com O Pai, Na Unidade Do Espírito Santo.<br>
								Ámen.<br>
								Pai-nosso. Ave-maria. Glória.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-peace" aria-expanded="false" aria-controls="prayers-jubilee-peace">
							<h4>Oração Pela Paz <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-peace">
							<div>
								<p>Senhor, Pai Santo,<br>
								Que Em Jesus Nos Deste A Tua Paz<br>
								E Por Ele Nos Quiseste Conduzir Ao Teu Coração<br>
								– Neste Lugar Em Que A Virgem Maria Nos Convida À Oração Pela Paz No Mundo<br>
								E Em Que O Anjo Da Paz Nos Exorta A Adorarmos Somente A Deus –,<br>
								Nós Te Pedimos Que Entre Os Povos Reine A Concórdia;<br>
								Que Os Responsáveis Das Nações Encontrem Caminhos De Justiça,<br>
								Que Todos Alcancemos A Paz De Coração<br>
								E Que, Por Intercessão Da Rainha Da Paz,<br>
								Sejamos Construtores De Um Mundo Mais Fraterno.<br>
								Por Cristo, Nosso Senhor.<br>
								Ámen.</p>
						 	</div>
						 <a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-consagration" aria-expanded="false" aria-controls="prayers-jubilee-consagration">
							<h4>Oração Jubilar De Consagração <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-consagration">
							<div>
								<p>Salve, Mãe Do Senhor,<br>
								Virgem Maria, Rainha Do Rosário De Fátima!<br>
								Bendita Entre Todas As Mulheres,<br>
								És A Imagem Da Igreja Vestida Da Luz Pascal,<br>
								És A Honra Do Nosso Povo,<br>
								És O Triunfo Sobre A Marca Do Mal.<br>
								Profecia Do Amor Misericordioso Do Pai,<br>
								Mestra Do Anúncio Da Boa-nova Do Filho,<br>
								Sinal Do Fogo Ardente Do Espírito Santo,<br>
								Ensina-nos, Neste Vale De Alegrias E Dores,<br>
								As Verdades Eternas Que O Pai Revela Aos Pequeninos.<br>
								Mostra-nos A Força Do Teu Manto Protetor.<br>
								No Teu Imaculado Coração,<br>
								Sê O Refúgio Dos Pecadores<br>
								E O Caminho Que Conduz Até Deus.<br>
								Unido/A Aos Meus Irmãos,<br>
								Na Fé, Na Esperança E No Amor,<br>
								A Ti Me Entrego.<br>
								Unido/A Aos Meus Irmãos, Por Ti, A Deus Me Consagro,<br>
								Ó Virgem Do Rosário De Fátima.<br>
								E, Enfim, Envolvido/A Na Luz Que Das Tuas Mãos Nos Vem,<br>
								Darei Glória Ao Senhor Pelos Séculos Dos Séculos.<br>
								Ámen.</p>
							 </div>
						</div>
					</div>
				</div>


		        <div id="prayers-videntes" class="prayer-set">
		        	<h3>Videntes De Fátima</h3>
					<a class="" role="button" data-toggle="collapse" href="#prayers-videntes-beatos" aria-expanded="false" aria-controls="prayers-videntes-beatos">
						<h4>Ladainha Dos Beatos Francisco E Jacinta Marto <span class="caret"></span></h4>
					</a>
					<div class="collapse" id="prayers-videntes-beatos">
						<div>
					    	<p>Senhor, Tende Piedade De Nós. Senhor, Tende Piedade De Nós.<br>
							Cristo, Tende Piedade De Nós. Cristo, Tende Piedade De Nós.<br>
							Senhor, Tende Piedade De Nós. Senhor, Tende Piedade De Nós.<br>
							Nossa Senhora Do Rosário De Fátima, Rogai Por Nós.<br>
							Nossa Senhora Das Dores, Rogai Por Nós.<br>
							Nossa Senhora Do Carmo, Rogai Por Nós. <br>
							Virgem Dos Pastorinhos, Rogai Por Nós.<br>
							Beato Francisco Marto, Rogai Por Nós.<br>
							Beata Jacinta Marto, Rogai Por Nós.<br>
							Crianças Chamadas Por Jesus Cristo, Rogai Por Nós.<br>
							Crianças Chamadas A Contemplar A Deus No Céu, Rogai Por Nós.<br>
							Pequeninos A Quem O Pai Revela Os Mistérios Do Reino, Rogai Por Nós.<br>
							Pequeninos Privilegiados Do Pai, Rogai Por Nós.<br>
							Louvor Perfeito Das Maravilhas De Deus, Rogai Por Nós.<br>
							Imagens Do Abandono Filial, Como Crianças Ao Colo Da Mãe, Rogai Por Nós.<br>
							Vítimas De Reparação Em Benefício Do Corpo De Cristo, Rogai Por Nós.<br>
							Confidentes Do Anjo Da Paz, Rogai Por Nós.<br>
							Custódios, Como O Anjo Da Pátria, Rogai Por Nós.<br>
							Adoradores Com O Anjo Da Eucaristia, Rogai Por Nós.<br>
							Videntes Da Mulher Revestida Com O Sol, Rogai Por Nós.<br>
							Videntes Da Luz Que É Deus, Rogai Por Nós.<br>
							Filhos Prediletos Da Virgem Mãe, Rogai Por Nós.<br>
							Ouvidos Atentos À Solicitude Materna Da Virgem Maria, Rogai Por Nós.<br>
							Advogados Da Mensagem Da Senhora Mais Brilhante Que O Sol, Rogai Por Nós.<br>
							Arautos Da Palavra Da Mãe De Deus, Rogai Por Nós.<br>
							Profetas Do Triunfo Do Coração Imaculado De Maria, Rogai Por Nós.<br>
							Cumpridores Dos Desígnios Do Altíssimo, Rogai Por Nós.<br>
							Fiéis Depositários Da Mensagem, Rogai Por Nós.<br>
							Emissários Da Senhora Do Rosário, Rogai Por Nós.<br>
							Missionários Dos Pedidos De Maria, Rogai Por Nós.<br>
							Portadores Dos Apelos Do Céu, Rogai Por Nós.<br>
							Zeladores Do Vigário De Cristo, Rogai Por Nós.<br>
							Confessores Da Vida Heroica Na Verdade, Rogai Por Nós.<br>
							Consoladores De Jesus Cristo, Rogai Por Nós.<br>
							Exemplos Da Caridade Cristã, Rogai Por Nós.<br>
							Servos Dos Doentes E Dos Pobres, Rogai Por Nós.<br>
							Reparadores Das Ofensas Dos Pecadores, Rogai Por Nós.<br>
							Amigos Dos Homens Junto Do Trono Da Virgem Maria, Rogai Por Nós.<br>
							Lírios De Candura A Exalar Santidade, Rogai Por Nós.<br>
							Pérolas Brilhantes A Resplandecer Beatitude, Rogai Por Nós.<br>
							Serafins De Amor Aos Pés Do Senhor, Rogai Por Nós.<br>
							Oblações A Deus Para Suportar Os Sofrimentos Em Ato De Reparação, Rogai Por Nós.<br>
							Exemplo Admirável Na Partilha Com Os Pobres, Rogai Por Nós.<br>
							Exemplo Incansável No Sacrifício Pela Conversão Dos Pecadores, Rogai Por Nós.<br>
							Exemplo De Fortaleza Nos Tempos Da Adversidade, Rogai Por Nós.<br>
							Enamorados De Deus Em Jesus, Rogai Por Nós.<br>
							Pastorinhos Que Nos Guiais Ao Cordeiro, Rogai Por Nós.<br>
							Discípulos Da Escola De Maria, Rogai Por Nós.<br>
							Interpeladores Da Humanidade, Rogai Por Nós.<br>
							Frutos Da Árvore Da Santidade, Rogai Por Nós.<br>
							Dom Para A Igreja Universal, Rogai Por Nós.<br>
							Sinal Divino Para O Povo De Deus, Rogai Por Nós.<br>
							Testemunhas Da Graça Divina, Rogai Por Nós.<br>
							Estímulo À Vivência Do Batismo, Rogai Por Nós.<br>
							Experiência Da Presença Amorosa De Deus, Rogai Por Nós.<br>
							Eloquentes Na Intimidade De Deus, Rogai Por Nós.<br>
							Intercessores, Junto De Deus, Pelos Pecadores, Rogai Por Nós.<br>
							Construtores Da Civilização Do Amor E Da Paz, Rogai Por Nós.<br>
							Lâmpadas A Alumiar A Humanidade, Rogai Por Nós.<br>
							Luzes Amigas A Iluminar As Multidões, Rogai Por Nós.<br>
							Luzeiros A Refulgir No Caminho Da Humanidade, Rogai Por Nós.<br>
							Chamas Ardentes Nas Horas Sombrias E Inquietas, Rogai Por Nós.<br>
							Candeias Que Deus Acendeu, Rogai Por Nós.<br>
							Cristo, Ouvi-nos. Cristo, Ouvi-nos.<br>
							Cristo, Atendei-nos. Cristo, Atendei-nos.<br>
							<br>
							Oração Conclusiva<br>
							Deus De Infinita Bondade,<br>
							Que Amais A Inocência E Exaltais Os Humildes,<br>
							Concedei, Pela Intercessão Da Imaculada Mãe Do Vosso Filho,<br>
							Que, À Imitação Dos Bem-aventurados Francisco E Jacinta,<br>
							Vos Sirvamos Na Simplicidade De Coração<br>
							Para Podermos Entrar No Reino Dos Céus.<br>
							Por Nosso Senhor Jesus Cristo, Vosso Filho,<br>
							Que É Deus Convosco Na Unidade Do Espírito Santo.<br>
							Ámen.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-videntes-canonizacao" aria-expanded="false" aria-controls="prayers-videntes-canonizacao">
							<h4>Oração Pela Canonização Dos Beatos Francisco E Jacinta Marto <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-videntes-canonizacao">
							<div>
						    	<p>Santíssima Trindade, Pai, Filho E Espírito Santo, Adoro-vos Profundamente E Agradeço-vos As Aparições Da Santíssima Virgem Em Fátima.<br>
								Pelos Méritos Infinitos Do Santíssimo Coração De Jesus E Por Intercessão Do Coração Imaculado De Maria, Peço-vos Que, Se For Para Vossa Maior Glória E Bem Das Nossas Almas, Vos Digneis Glorificar Diante De Toda A Igreja Os Bem-aventurados Francisco E Jacinta, Concedendo-nos, Por Sua Intercessão, A Graça Que Vos Pedimos.<br>
								Ámen.<br>
								Pai-nosso. Ave-maria. Glória.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-videntes-beatificacao" aria-expanded="false" aria-controls="prayers-videntes-beatificacao">
							<h4>Oração Pela Beatificação Da Serva De Deus Maria Lúcia De Jesus E Do Coração Imaculado <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-videntes-beatificacao">
							<div>
						    	<p>Santíssima Trindade, Pai, Filho E Espírito Santo, Adoro-vos Profundamente E Vos Agradeço As Aparições Da Santíssima Virgem Em Fátima Para Manifestar Ao Mundo As Riquezas Do Seu Coração Imaculado.<br>
								Pelos Méritos Infinitos Do Santíssimo Coração De Jesus E Do Coração Imaculado De Maria, Peço-vos Que, Se For Para Vossa Maior Glória E Bem Das Nossas Almas, Vos Digneis Glorificar, Diante Da Santa Igreja, A Irmã Lúcia, Pastorinha De Fátima, Concedendo-nos, Por Sua Intercessão, A Graça Que Vos Pedimos.<br>
								Ámen.<br>
								Pai-nosso. Ave-maria. Glória.</p>
						 	</div>
						</div>
					</div>


		        </div>
		        
		        <div class="col-sm-4 desktop-medium">
		            <img src="/images/pray/pray3.jpeg" class="img-responsive STUFF">
		        </div>
		    </div>

		</div>

</div>
</section>