<section id="cover" class="mobile-only">
	<div id="prayer" class="cover-content">
		<a href="https://www.pexels.com/photo/beads-cross-prayer-rosary-236336/">
			<h6>Source</h6>
		</a>
	</div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid" id="prayers">

		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

		    <div class="desktop-medium">
		        <h1>Pray</h1>
		        <hr/>
		    </div>

		    <div class = "row" id="pray-info">
		        <div class="col-sm-8" id="prayers-info">

		        	<div id="prayers-fatima" class="prayer-set">

		        		<h3>Fatima prayers</h3>
						<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-anjo" aria-expanded="false" aria-controls="prayers-fatima-anjo">
							<h4>Prayers taught by the Angel <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-fatima-anjo">
							<div>
							    <p>My God, I believe, I adore, I hope and I love You! I ask pardon of You for those who do not believe, do not adore, do not hope and do not love You!<br>
							    <br>
			 					Most Holy Trinity, Father, Son and Holy Spirit, I adore You profoundly and I offer You the most precious Body, Blood, Soul and Divinity of Jesus Christ, present in all the tabernacles of the world, in reparation for the outrages, sacrileges and indifference with which He is offended. And through the infinite merits of the Sacred Heart and the Immaculate Heart of Mary, I beg the conversion of poor sinners.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-nossa-senhora" aria-expanded="false" aria-controls="prayers-fatima-nossa-senhora">
							<h4>Prayers taught by  Our Lady <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-fatima-nossa-senhora">
							<div>
						    	<p>O Jesus, it is for love of You, and for the conversion of sinners and in reparation for the sins committed against the Immaculate Heart of Mary! <br>
						    	<br>
						    	O my Jesus, forgive us, save us from the fire of hell; lead all souls to Heaven, especially those who are most in need.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-fatima-impulso" aria-expanded="false" aria-controls="prayers-fatima-impulso">
							<h4>Prayer communicated to the children in an interior impulse <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-fatima-impulso">
							<div>
						    	<p>O most Holy Trinity, I adore You. My God, my God, I love You in the most Blessed Sacrament.</p>
						 	</div>
						</div>
					</div>


		        	<div id="prayers-jubilee" class="prayer-set">
		        		<h3>JUBILEE PRAYERS</h3>
						<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-apostolos" aria-expanded="false" aria-controls="prayers-jubilee-apostolos">
							<h4>Apostles’ Creed <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-apostolos">
							<div>
								<p>I believe in God,<br>
								the Father almighty, creator of heaven and earth.<br>
								I believe in Jesus Christ, his only Son, our Lord.<br>
								He was conceived by the power of the Holy Spirit<br>
								and born of the Virgin Mary.<br>
								He suffered under Pontius Pilate,<br>
								was crucified, died, and was buried.<br>
								He descended into hell.<br>
								On the third day he rose again.<br>
								He ascended into heaven<br>
								and is seated at the right hand of the Father.<br>
								He will come again to judge<br>
								the living and the dead.<br>
								I believe in the Holy Spirit,<br>
								the holy catholic Church,<br>
								the communion of the saints,<br>
								the forgiveness of sins,<br>
								the resurrection of the body,<br>
								and the life everlasting.<br>
								Amen.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-papa" aria-expanded="false" aria-controls="prayers-jubilee-papa">
							<h4>Prayer for the Pope <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-papa">
							<div>
								<p>O Lord,<br>
								Good shepherd of Humanity,<br>
								who entrusted to Peter and his successors<br>
								the mission of strengthening the brothers in the faith<br>
								and to enlighten them in the hearing of the Word<br>
								– in this place where the little shepherds of Fatima<br>
								bore witness to a profound devotion to the Holy Father<br>
								and to an intense love for the Church –,<br>
								we ask You that Your Spirit of Wisdom<br>
								illumines Pope N in his mission as the Successor of Peter;<br>
								may Your mercy protect and comfort him;<br>
								may the testimony of Your faithful hearten him in his mission,<br>
								and may the tender presence of Mary be for him a sign of Your love;<br>
								may he be strong in faith, courageous in hope, and zealous in charity.<br>
								Who live and reign with God the Father, in the unity of the Holy Spirit,<br>
								one God, for ever and ever.<br>
								Amen.<br>
								Our Father. Hail Mary. Glory.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-peace" aria-expanded="false" aria-controls="prayers-jubilee-peace">
							<h4>Prayer for Peace <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-peace">
							<div>
								<p>O God, All-Holy Father,<br>
								who gave us Your peace through Jesus<br>
								and through Him you wished to lead us to Your Heart<br>
								– in this place where the Virgin Mary invites us to pray for peace in the world<br>
								and where the Angel of Peace exhorts us to adore God alone –,<br>
								grant us, we pray, that peace may reign among all peoples;<br>
								that the leaders of the nations find ways towards justice,<br>
								that we may all reach the peace of heart<br>
								and that, through the intercession of the Queen of Peace,<br>
								we may become builders of a more fraternal world.<br>
								Through Christ, Our Lord.<br>
								Amen.</p>
						 	</div>
						 <a class="" role="button" data-toggle="collapse" href="#prayers-jubilee-consagration" aria-expanded="false" aria-controls="prayers-jubilee-consagration">
							<h4>Jubilee Prayer of Consecration <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-jubilee-consagration">
							<div>
								<p>Hail, Mother of the Lord,<br>
								Virgin Mary, Queen of the Rosary of Fatima!<br>
								Blessed among all women,<br>
								you are the image of the Church dressed in the Paschal light,<br>
								you are the honour of our people,<br>
								you are the triumph over the mark of evil.<br>
								Prophecy of the merciful Love of the Father,<br>
								Teacher of the Annunciation of the Good News of the Son,<br>
								Sign of the burning Fire of the Holy Spirit,<br>
								teach us, in this valley of joys and sorrows,<br>
								the eternal truths that the Father reveals to the little ones.<br>
								Show us the strength of your mantle of protection.<br>
								In your Immaculate Heart,<br>
								be the refuge of sinners<br>
								and the way that leads to God.<br>
								In unity with my brethren,<br>
								In Faith, Hope and Love,<br>
								I surrender myself to you.<br>
								In unity with my brethren, through you, I consecrate myself to God,<br>
								O Virgin of the Rosary of Fatima.<br>
								And thus surrounded by the Light that comes from your hands,<br>
								I will give Glory to the Lord for ever and ever.<br>
								Amen.</p>
							 </div>
						</div>
					</div>
				</div>


		        <div id="prayers-videntes" class="prayer-set">
		        	<h3>SEERS OF FATIMA</h3>
					<a class="" role="button" data-toggle="collapse" href="#prayers-videntes-beatos" aria-expanded="false" aria-controls="prayers-videntes-beatos">
						<h4> Litany of Blessed Francisco and Jacinta <span class="caret"></span></h4>
					</a>
					<div class="collapse" id="prayers-videntes-beatos">
						<div>
					    	<p>Lord, have mercy on us! Lord, have mercy on us!<br>
							Christ, have mercy on us! Christ, have mercy on us!<br>
							Lord, have mercy on us! Lord, have mercy on us!<br>
							Our Lady of the Rosary of Fatima, pray for us!<br>
							Our Lady of Sorrows, pray for us!<br>
							Our Lady of Mount Carmel, pray for us!<br>
							Virgin of the Little Shepherds, pray for us!<br>
							Blessed Francisco Marto, pray for us!<br>
							Blessed Jacinta Marto, pray for us!<br>
							Children called by Jesus Christ, pray for us!<br>
							Children called to contemplate God in Heaven, pray for us!<br>
							Little ones to whom the Father reveals the mysteries of the Kingdom, pray for us!<br>
							Little ones privileged of the Father, pray for us!<br>
							Perfect praise of the wonders of God, pray for us!<br>
							Perfect examples of filial abandonment, like children in the mother’s lap, pray for us!<br>
							Victims of reparation for the benefit of the Body of Christ, pray for us!<br>
							Confidants of the Angel of Peace, pray for us!<br>
							Custodians, like the Angel of the Fatherland, pray for us!<br>
							Adorers with the Angel of the Eucharist, pray for us!<br>
							Seers of the Woman dressed in the Sun, pray for us!<br>
							Seers of the Light that is God, pray for us!<br>
							Beloved children of the Virgin Mother, pray for us!<br>
							Ears attentive to the maternal solicitude of the Virgin Mary, pray for us!<br>
							Advocates of the Message of the Lady more brilliant than the Sun, pray for us!<br>
							Heralds of the word of the Mother of God, pray for us!<br>
							Prophets of the triumph of the Immaculate Heart of Mary, pray for us!<br>
							Accomplishers of the designs of the Most High, pray for us!<br>
							Faithful trustees of the Message, pray for us!<br>
							Emissaries of the Lady of the Rosary, pray for us!<br>
							Missionaries of the requests of Mary, pray for us!<br>
							Couriers of the calls from Heaven, pray for us!<br>
							Protectors of the Vicar of Christ, pray for us!<br>
							Confessors of heroic life in the truth, pray for us!<br>
							Comforters of Jesus Christ, pray for us!<br>
							Examples of Christian charity, pray for us!<br>
							Servants of the sick and the poor, pray for us!<br>
							Repairers of the offenses of sinners, pray for us!<br>
							Friends of men before the throne of the Virgin Mary, pray for us!<br>
							Pure white lilies breathing holiness, pray for us!<br>
							Brilliant pearls in splendid beatitude, pray for us!<br>
							Seraphim of love at the feet of the Lord, pray for us!<br>
							Offerings presented to God to bear sufferings for reparation, pray for us!<br>
							Admirable examples of sharing with the poor, pray for us!<br>
							Untiring examples of sacrifice for the conversion of sinners, pray for us!<br>
							Examples of fortitude in times of adversity, pray for us!<br>
							Souls enamored of God in Jesus, pray for us!<br>
							Little Shepherds leading us to the Lamb, pray for us!<br>
							Disciples of Mary’s school, pray for us!<br>
							Questioners of mankind, pray for us!<br>
							Fruits of the tree of holiness, pray for us!<br>
							Gifts to the Universal Church, pray for us!<br>
							Divine signs for God’s People, pray for us!<br>
							Witnesses of God’s grace, pray for us!<br>
							Incentives to living one’s Baptism, pray for us!<br>
							Examples of the experience of the loving presence of God, pray for us!<br>
							Eloquent souls in the intimacy of God, pray for us!<br>
							Intercessors, before God, for sinners, pray for us!<br>
							Builders of the Civilization of Love and Peace, pray for us!<br>
							Lamps illuminating mankind, pray for us!<br>
							Friendly lights illuminating multitudes, pray for us!<br>
							Lanterns shining in men’s roads, pray for us!<br>
							Flames burning in somber and anxious hours, pray for us!<br>
							Candles lighted by God, pray for us!<br>
							Christ, hear us! Christ, hear us!<br>
							Christ, please hear us! Christ, please hear us!<br>
							<br>
							Concluding prayer<br>
							God of infinite goodness,<br>
							You love the innocent and exalt the humble;<br>
							please grant, through the intercession of the Immaculate Mother of	Your Son,<br>
							that, in imitation of Blessed Francisco and Jacinta,<br>
							we may serve You in simplicity of heart<br>
							and thus may enter the Kingdom of Heaven.<br>
							Through Our Lord Jesus Christ, Your Son,<br>
							Who is God with You in union with the Holy Spirit.<br>
							Amen.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-videntes-canonizacao" aria-expanded="false" aria-controls="prayers-videntes-canonizacao">
							<h4>Prayer for the canonisation of Francisco and Jacinta <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-videntes-canonizacao">
							<div>
						    	<p>Most Holy Trinity, Father, Son and Holy Spirit, I adore You profoundly and I thank You for the Apparitions of the Most Holy Virgin in Fatima.<br>
								By the infinite merits of the Sacred Heart of Jesus and through the intercession of the Immaculate Heart of Mary I implore You – if it should be for Your greater glory and the good of our souls – to glorify in the sight of Your Holy Church Blessed Francisco and Jacinta, granting us through their intercession the grace which we implore.<br>
								Amen.<br>
								Our Father, Hail Mary, Glory be to the Father.</p>
						 	</div>
						</div>
						<a class="" role="button" data-toggle="collapse" href="#prayers-videntes-beatificacao" aria-expanded="false" aria-controls="prayers-videntes-beatificacao">
							<h4>Prayer for the Beatification of the Servant of God Sister Lucia <span class="caret"></span></h4>
						</a>
						<div class="collapse" id="prayers-videntes-beatificacao">
							<div>
						    	<p>Most Holy Trinity, Father, Son and Holy Spirit, I adore you profoundly and I thank you for the Apparitions of the Blessed Virgin Mary in Fatima, that revealed to the world the riches of her Immaculate Heart. By the infinite merits of the Sacred Heart of Jesus and through the intercession of the Immaculate Heart of Mary, I implore You, if it should be for Your greater glory and the good of our souls, to glorify Sr. Lucy, one of the Shepherds of Fatima, by granting us the grace which we implore through her intercession.<br>
								Amen.<br>
								Our Father, Hail Mary, Glory Be.</p>
						 	</div>
						</div>
					</div>


		        </div>
		        
		        <div class="col-sm-4 desktop-medium" id="sidebar-outer">
		        	<div id="sidebar">
		            	<img src="/images/pray/pray_vertical.jpg" class="img-responsive">
		            	<a href="https://www.pexels.com/photo/beads-cross-prayer-rosary-236336/"><h6>Source</h6></a>
		            </div>
		        </div>
		    </div>

		</div>

</div>
</section>