<% content_for :timeline_day1 do %>
	<div class="timeline">

		<div id="vr-top"></div>
		<v-r>
		<div class="timeline-item">
			<div class="timeline-time">14:00 &nbsp; &nbsp;</div>
			<div class="timeline-text">
				<p class="h4">Partida do Aeroporto de Roma/Fiumicino para Monte Real</p>
				<p>Início da viagem</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Roma</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">16:30 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Chegada à Base Aérea de Monte Real</p>
				<p>Cerimónia de Boas-Vindas</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">16:35 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">ENCONTRO PRIVADO COM O PRESIDENTE DA REPÚBLICA na Base Aérea de Monte Real </p>
				<p>ENCONTRO PRIVADO COM O PRESIDENTE DA REPÚBLICA na Base Aérea de Monte Real</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">16:55 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Visita à Capela da Base Aérea </p>
				<p>Visita à Capela da Base Aérea</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">17:15 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Deslocação em helicóptero para o Estádio de Fátima </p>
				<p>Deslocação em helicóptero para o Estádio de Fátima</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">17:35 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Chegada ao Estádio de Fátima e deslocação para o Santuário em viatura aberta </p>
				<p>Chegada ao Estádio de Fátima e deslocação para o Santuário em viatura aberta</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">18:15 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">VISITA À CAPELINHA DAS APARIÇÕES </p>
				<p>VISITA À CAPELINHA DAS APARIÇÕES</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Santuário de Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">21:30 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">BÊNÇÃO DAS VELAS na Capelinha das Aparições </p>
				<p>RECITAÇÃO DO SANTO ROSÁRIO</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Santuário de Fátima</p>
			</div>
		</div>

		</v-r>
		<div id="vr-bottom"></div>
	</div>
<% end %>

<% content_for :timeline_day2 do %>
	<div class="timeline timeline-small">

	<div id="vr-top"></div>
	<v-r>
		<div class="timeline-item">
			<div class="timeline-time">09:10 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Encontro com o Primeiro-Ministro </p>
				<p>Encontro com o Primeiro-Ministro</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Santuário de Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">09:40 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Visita à Basílica de Nossa Senhora do Rosário de Fátima </p>
				<p>Visita à Basílica de Nossa Senhora do Rosário de Fátima</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Santuário de Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">10:00 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">SANTA MISSA no Recinto do Santuário </p>
				<p>SANTA MISSA no Recinto do Santuário</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Santuário de Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">12:30 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Almoço com os Bispos de Portugal na Casa “Nª Sr.ª do Carmo” </p>
				<p>Almoço com os Bispos de Portugal na Casa “Nª Sr.ª do Carmo”</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Santuário de Fátima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">14:45 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">CERIMÓNIA DE DESPEDIDA na Base Aérea de Monte Real </p>
				<p>CERIMÓNIA DE DESPEDIDA na Base Aérea de Monte Real</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">15:00 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Partida de avião da Base Aérea de Monte Real para Roma </p>
				<p>Partida de avião da Base Aérea de Monte Real para Roma</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">19:05 &nbsp; &nbsp;</div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Chegada ao Aeroporto de Roma/Ciampino</p>
				<p>Chegada ao Aeroporto de Roma/Ciampino</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Roma</p>
			</div>
		</div>

	</div>

</v-r>
<div id="vr-bottom"></div>
	
<% end %>

<div class="desktop-medium">
	<div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
        <h1>Programa</h1>
        <hr/>
	</div>

	<div class = "row" id="timeline-container">
		
		<div class="col-md-6 col-xs-12">
			<div class="timeline-title">
		        <h2>Dia 1</h2>
		        <h4>12-05-2017</h4>
			</div>
			<%= yield :timeline_day1 %>
		</div>


		<div class="col-md-6 col-xs-12">
			<div class="timeline-title">
			    <h2>Dia 2</h2>
			    <h4>13-05-2017</h4>
			</div>
			<%= yield :timeline_day2 %>
		</div> 

	</div>
</div>

<div class="mobile-only">

	<div class="text-center">
	<div class="btn-group" role="group" aria-label="..." id="timeline-day-selecter">
		<button type="button" class="btn btn-large btn-default active" id="day1-selector">
		  	<h3>Dia 1</h3>
			<h5>12-05-2017</h5>
		</button>
		<button type="button" class="btn btn-large btn-default" id="day2-selector">
		  	<h3>Dia 2</h3>
			<h5>13-05-2017</h5>
		</button>
	</div>
</div>

	<div class = "row timeline-container" id="timeline-container-day1">
		<%= yield :timeline_day1 %>
	</div>

	<div class = "row timeline-container" hidden id="timeline-container-day2">
		<%= yield :timeline_day2 %>
	</div>
</div>