<% content_for :timeline_day1 do %>
	<div class="timeline">

		<div id="vr-top"></div>
		<v-r>
		<div class="timeline-item">
			<div class="timeline-time">14:00 &nbsp; </div>
			<div class="timeline-text">
				<p class="h4">Departure from Rome/Fiumicino airport to Monte Real</p>
				<p>Departure from Italy</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Rome</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">16:30 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Arrival at the air base of Monte Real</p>
				<p>Arrival at Portugal</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Air Base of Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">16:35 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Private meeting with the President of the Republic</p>
				<p>Private Meeting</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Air Base of Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">16:55 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Visit to the chapel of the air base </p>
				<p>Visit</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Air Base of Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">17:15 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Transfer to the Stadium of Fatima </p>
				<p>Transfer by helicopter</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">17:35 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Arrival at the Stadium of Fatima and transfer to Fatima's Shrine </p>
				<p>Transfer to the Shrine by open vehicle</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">18:15 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Visit to the Chapel of Apparitions </p>
				<p>Visit</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima's Shrine</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">21:30 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Blessing of the Candels in the Chapel of the Apparitions </p>
				<p>Blessing of the Candels</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima's Shrine</p>
			</div>
		</div>

		</v-r>
		<div id="vr-bottom"></div>
	</div>
<% end %>

<% content_for :timeline_day2 do %>
	<div class="timeline timeline-small">

	<div id="vr-top"></div>
	<v-r>
		<div class="timeline-item">
			<div class="timeline-time">09:10 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Meeting with the Prime Minister </p>
				<p>Meeting</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima's Shrine</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">09:40 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Visit to the Basilica of Our Lady of the Rosary of Fatima </p>
				<p>Visit</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima's Shrine</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">10:00 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Holy Mass in the Prayer Area of the Shrine </p>
				<p>Holy Mass</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima's Shrine</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">12:30 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Lunch with the bishops of Portugal in the Retreat House of Our Lady of Mount Carmel. </p>
				<p>Private lunch</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fatima's Shrine</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">14:45 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Farewell Ceremony at the air base of Monte Real </p>
				<p>Farewell Ceremony</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Air Base of Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">15:00 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Flight departure from the air base of Monte Real to Rome </p>
				<p>Departure from Portugal</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Air Base of Monte Real</p>
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-time">19:05 &nbsp; </div>
			<div class="timeline-image"></div>
			<div class="timeline-text">
				<p class="h4">Arrival at Rome/Ciampino airport</p>
				<p>Arrival at Italy</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Rome</p>
			</div>
		</div>

	</div>

</v-r>
<div id="vr-bottom"></div>
	
<% end %>

<section id="page_content">
    <div class="container-fluid">

		<div class="desktop-medium">
			<div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
		        <h1>Program</h1>
		        <hr/>
			</div>

			<div class = "row desktop-only" id="timeline-container">
				
				<div class="col-md-6 col-xs-12">
					<div class="timeline-title">
				        <h2>Day 1</h2>
				        <h4>12-05-2017</h4>
					</div>
					<%= yield :timeline_day1 %>
				</div>


				<div class="col-md-6 col-xs-12">
					<div class="timeline-title">
					    <h2>Day 2</h2>
					    <h4>13-05-2017</h4>
					</div>
					<%= yield :timeline_day2 %>
				</div> 

			</div>
		</div>

		<div class="mobile-medium">

			<div class="text-center">
			<div class="btn-group" data-toggle="buttons" id="timeline-day-selecter">
		      <label class="btn btn-large btn-default active" >
		        <input type="radio" name="program-day-selector" value="day1" id="day1-selector" checked>
		        <h3>Day 1</h3>
						<h5>12-05-2017</h5>
		      </label>
		      <label class="btn btn-large btn-default">
		        <input type="radio" name="program-day-selector" value="day2" id="day2-selector">
		        	<h3>Day 2</h3>
					<h5>13-05-2017</h5>
		      </label>
			</div>
			</div>

			<div class="text-center">

			</div>

			<div class = "row timeline-container" id="timeline-container-day1">
				<%= yield :timeline_day1 %>
			</div>

			<div class = "row timeline-container" hidden id="timeline-container-day2">
				<%= yield :timeline_day2 %>
			</div>
		</div>

    </div>
</section>

<script type="text/javascript">
	document.addEventListener("turbolinks:load", function() {
	    $('input[type=radio][name=program-day-selector]').change(function() {
	        if (this.value == 'day1') {
	            $("#timeline-container-day1").show();
	            $("#timeline-container-day2").hide();
	        }
	        else if (this.value == 'day2') {
	            $("#timeline-container-day2").show();
	            $("#timeline-container-day1").hide();
	        }
	    });
	});
</script>