<div class="col-sm-12 col-md-6 col-md-offset-2">

    <div class="desktop-medium">
        <h1>Programa</h1>
        <hr/>
    </div>
</div>

<div class="col-sm-12 col-md-6">

</div>

<div class="col-sm-12 col-md-6">
</div>
