<section id="cover" class="mobile-only">
    <div id="history_lady" class="cover-content">
        <a href="https://www.flickr.com/photos/pilgrimfatima/11932578126">
            <h6>Source</h6>
        </a>
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Available Soon</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>It won't take long</p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/history/lady_sq.jpg" class="img-responsive">
                        <a href="https://www.flickr.com/photos/pilgrimfatima/11932578126">
                            <h6>Source</h6>
                        </a>
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>