<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Recomendações</h1>
                <hr/>
            </div>

            <div class = "row">
            	<p>Queremos convidá-lo a familiarizar-se com algumas recomendações e boas práticas, que tornarão a sua peregrinação mais segura e organizada durante a sua participação no Centenário das Aparições de Fátima.</p>

				<h4>Antes de Iniciar a peregrinação</h4>
				<ul>
					<li>Leve consigo os medicamentos que costuma tomar;</li>
					<li>Informe família e amigos do seu percurso;</li>
					<li>Num papel, leve o número de telefone de familiares/amigos que devem ser contactados, em caso de emergência;</li>
					<li>Informe a GNR do número de pessoas que constituem o grupo, dia/Hora/Local de partida/chegada e percursos utilizados através do questionário online (https://docs.google.com/forms/d/18vgMAaGnFhLM0M68m6XJ69AVdRwWKhQ7XRAWSlcOdQk/viewform?c=0&w=1) ou diretamente num posto.</li>
				</ul>

				<h4>Deslocação</h4>
				<h5>Se for de carro:</h5>
				<ul>
					<li>Planeie a deslocação a Fátima com antecedência;</li>
					<li>Tenha cuidado com os peregrinos e siga os conselhos das forças de segurança;</li>
					<li>Esteja preparado para a necessidade de estacionar longe do recinto e fazer parte do percurso a pé.</li>
				</ul>
				<h5>Se for a pé:</h5>
				<ul>
					<li>Vá pela berma;
					<li>Caminhe em fila indiana e no sentido do trânsito;</li>
					<li>Evite caminhar à noite e nas vias principais;</li>
					<li>Descanse, coma e beba água regularmente;</li>
					<li>Proteja-se do sol, frio ou chuva.</li>
				</ul>

				<h5>No recinto</h5>
				Adeque o seu vestuário ao estado do tempo (de dia utilize roupa clara e leve; à noite, previna-se com um agasalho);
				Proteja a pele com protetor solar e use chapéu e óculos adequados;
				Beba frequentemente água. Não ingira bebidas alcoólicas;
				Combine um ponto de encontro no exterior do recinto, caso se perca do seu grupo/família;
				Se necessitar de assistência médica, dirija-se aos postos de atendimento existentes.


				<h5>Na rua</h5>
				Evite trazer consigo grandes somas de dinheiro e objetos de valor;
				Esconda adornos ou jóias com aspecto valioso, mesmo que, na realidade, o não sejam;
				Ande com as suas chaves fora da carteira, num bolso interior de vestuário;
				Não traga quantias elevadas na carteira, e distribua o dinheiro que trouxer por vários bolsos interiores;
				Evite andar sozinho depois de escurecer;
				Evite circular em locais isolados e pouco iluminados.
				Quer de dia, quer de noite, não peça, nem aceite boleia de estranhos,
				Caminhe contra o sentido do trânsito, a fim de se aperceber de qualquer manobra ou aproximação suspeita de qualquer veículo;
				De noite, caminhe no centro do passeio;
				Evite atalhos através de caminhos ou carreiros mal iluminados, ou através de descampados ou parques, mesmo que tenha que percorrer maiores distâncias;
				Entre multidões:
				Leve a bolsa sempre debaixo do braço;
				Esteja muito atento às mochilas em ambientes muito movimentados;
				No caso de um encontrão, verifique se a carteira, o telemóvel e os restantes objetos de valor continuam consigo.
				Nos multibancos:
				Evite utilizar a rede MULTIBANCO em horários noturnos e em locais isolados ou com fraca iluminação. 
				Antes de se aproximar de um MULTIBANCO, tenha atenção às pessoas que se encontram nas imediações. 
				Caso se aperceba que alguém se comporta de modo suspeito ou lhe suscita um sentimento de desconfiança, escolha outro MULTIBANCO.
				Se notar qualquer atividade ilícita, abandone o local e informe a polícia.
				Depois de completar a transação, guarde o dinheiro e o cartão discretamente antes de abandonar o MULTIBANCO.
				Não fique junto do MULTIBANCO contando e manipulando as notas.



            </div>
                     
        </div>

    </div>
</section>