<section id="cover" class="mobile-only">
    <div id="security_advice" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Security Advice</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
                    <br>
                    <h4>In order to assure your safety and security, while participating in the celebrations of the Centennial of Fátima’s Apparitions, we want to make you aware of the following tips and recommendations.</h4>
                    <br>

                    <h4><b>Before you start your pilgrimage</b></h4>
                    <ul>
                        <li>Prepare the medication you usually take;</li>
                        <li>Keep your friends and family informed of your traveling plans;</li>
                        <li>On a paper, keep the phone number of family/friends who should be contacted in an emergency.</li>
                    </ul>
                    <br>

                    <h4><b>Travel</b></h4>

                    <h4><i>By Car:</i></h4>
                    <ul>
                        <li>Plan your travel in advance;</li>
                        <li>Be aware of pilgrims on the road and follow the Security Forces’ advice;</li>
                        <li>Consider the use of alternative routes to Highway Number 1 (A1), if needed;</li>
                        <li>Take water with you, in case you get stopped in traffic;</li>
                        <li>Park in authorized locations;</li>
                        <li>Do not stop/park your car in places that jeopardize the safety of other pilgrims or force pilgrims on foot to expose themselves to traffic;</li>
                        <li>Be prepared to park away from the shrine of Fátima and walk;</li>
                        <li>Do not leave valuable items inside the vehicle in sight;</li>
                        <li>If you intend to keep valuable items in enclosed compartments inside the car, do not manipulate them in the place where you will park the vehicle;</li>
                        <li>Take your personal documents with you.</li>
                    </ul><br>

                    <h4><i>On Foot:</i></h4>
                    <ul>
                        <li>Walk on the roadside;</li>
                        <li>Make a line and walk in the direction of traffic;</li>
                        <li>Avoid walking after sunset and on main routes;</li>
                        <li>Wear light clothing and a vest reflector;</li>
                        <li>Rest, eat, and drink water regularly;</li>
                        <li>Prepare yourself for sunny, cold or rainy conditions.</li>
                    </ul><br>

                    <h4><i>Cycling:</i></h4>
                    <ul>
                        <li>Use appropriate equipment: helmet, goggles, gloves, reflector equipment, front and taillights;</li>
                        <li>Comply with the Traffic code;</li>
                        <li>Circle in line;</li>
                        <li>Avoid alcoholic beverages;</li>
                        <li>Do not use mobile phones and headphones.</li>
                    </ul><br>

                    <h4><b>In the Shrine</b></h4>
                    <ul>
                        <li>Dress properly, considering the weather (use light clothing during the day and have something warmer for the evening);</li>
                        <li>Use sunscreen, hat and sunglasses;</li>
                        <li>Drink water regularly and avoid alcoholic drinks;</li>
                        <li>Set a meeting point outside the shrine with your group, in case someone get lost;</li>
                        <li>If you need medical assistance, go to one of the available stations.</li>
                    </ul><br>

                    <h4><b>On the streets</b></h4>
                    <ul>
                        <li>Avoid carrying huge amounts of money and valuables;</li>
                        <li>Hide ornaments or jewels that look valuable, even if they are not;</li>
                        <li>Don’t keep your keys in your wallet or backpack, keep them close in an inner pocket;</li>
                        <li>Distribute your money into several inner pockets, instead of carrying it all in your wallet;</li>
                        <li>Avoid walking alone after sunset;</li>
                        <li>Avoid walking in isolated, dimly lit locations;</li>
                        <li>Do not ask, nor accept, hitch-hike from strangers;</li>
                        <li>Walk against the direction of traffic, to be aware of any suspicious maneuver or approach by a vehicle;</li>
                        <li>At night, walk in the middle of the sidewalk;</li>
                        <li>Avoid using shortcuts through poorly lit paths, open spaces or parks, even if you have to walk farther distances.</li>
                    </ul><br>

                    <h4><b>Among crowds</b></h4>
                    <ul>
                        <li>Always carry your bag under your arm;</li>
                        <li>Pay attention to your backpacks in packed environments;</li>
                        <li>If someone bumps into you, check your wallet, mobile phone and other valuables.</li>
                    </ul><br>

                    <h4><b>On ATM machines</b></h4>
                    <ul>
                        <li>Avoid using ATM machines at night and in isolated or dimly lit locations;</li>
                        <li>When approaching an ATM machine, pay attention to your surroundings and the people nearby;</li>
                        <li>If there is some unusual behavior, choose another ATM machine;</li>
                        <li>If you notice any illegal activity, leave the premises and inform the police;</li>
                        <li>After completing the transaction, store the cash and the card discreetly before leaving ATM machine;</li>
                        <li>Do not stand by the ATM machine manipulating and counting the money.</li>
                    </ul><br>

                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/security/advice_sq.jpg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>