<section id="cover" class="mobile-only">
    <div id="security_advice" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Recomendações</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
                    <p>Queremos convidá-lo a familiarizar-se com algumas recomendações e boas práticas, que tornarão a sua peregrinação mais segura e organizada durante a sua participação no Centenário das Aparições de Fátima.</p>
                    <br>

					<h4><b>Antes de iniciar a peregrinação</b></h4>
					<ul>
						<li>Leve consigo os medicamentos que costuma tomar;</li>
						<li>Informe família e amigos do seu percurso;</li>
						<li>Num papel, leve o número de telefone de familiares/amigos que devem ser contactados, em caso de emergência.</li>
					</ul>
					<br>

					<h4><b>Deslocação</b></h4>

					<h5><i>Se for de carro:</i></h5>
					<ul>
						<li>Planeie a deslocação a Fátima com antecedência;</li>
						<li>Tenha cuidado com os peregrinos e siga os conselhos das forças de segurança;</li>
						<li>Considere a utilização de itinerários alternativos à autoestrada nº1, caso seja necessário;</li>
						<li>Leve água consigo, para eventuais congestionamentos de trânsito;</li>
						<li>Estacione em  locais autorizados;</li>
						<li>Não pare a sua viatura em locais que ponham em causa a segurança dos outros peregrinos e que não obriguem os peregrinos a pé a exporem-se ao trânsito;</li>
						<li>Esteja preparado para a necessidade de estacionar longe do recinto e fazer parte do percurso a pé.</li>
						<li>Não deixe bens no interior do veículo à vista;</li>
						<li>Caso pretenda deixar bens em compartimentos fechados no interior da viatura, não os manipule no local onde  vai deixar o carro estacionado;</li>
						<li>Leve consigo os seus documentos pessoais.</li>
					</ul><br>

					<h5><i>Se for a pé:</i></h5>
					<ul>
						<li>Vá pela berma;
						<li>Caminhe em fila indiana e no sentido do trânsito;</li>
						<li>Evite caminhar à noite e nas vias principais;</li>
						<li>Utilize roupas claras e colete refletor;</li>
						<li>Descanse, coma e beba água regularmente;</li>
						<li>Proteja-se do sol, frio ou chuva.</li>
					</ul><br>

					<h5><i>Bicicleta</i></h5>
					<ul>
						<li>Utilize equipamento apropriado: capacete, óculos de proteção, luvas, equipamento refletor e luzes traseiras e dianteiras;</li>
						<li>Cumpra as regras do Código da Estrada;</li>
						<li>Circule em fila indiana;</li>
						<li>Evite bebidas  alcoólicas;</li>
						<li>Não faça uso de telemóvel e auscultadores.</li>
					</ul><br>

					<h4><b>No recinto</b></h4>
					<ul>
						<li>Adeque o seu vestuário ao estado do tempo (de dia utilize roupa clara e leve; à noite, previna-se com um agasalho);</li>
						<li>Proteja a pele com protetor solar e use chapéu e óculos adequados;</li>
						<li>Beba frequentemente água. Não ingira bebidas alcoólicas;</li>
						<li>Combine um ponto de encontro no exterior do recinto, caso se perca do seu grupo/família;</li>
						<li>Se necessitar de assistência médica, dirija-se aos postos de atendimento existentes.</li>
					</ul><br>

					<h4><b>Na rua</b></h4>
					<ul>
						<li>Evite trazer consigo grandes somas de dinheiro e objetos de valor;</li>
						<li>Esconda adornos ou jóias com aspecto valioso, mesmo que, na realidade, o não sejam;</li>
						<li>Ande com as suas chaves fora da carteira, num bolso interior de vestuário;</li>
						<li>Não traga quantias elevadas na carteira, e distribua o dinheiro que trouxer por vários bolsos interiores;</li>
						<li>Evite andar sozinho depois de escurecer;</li>
						<li>Evite circular em locais isolados e pouco iluminados;</li>
						<li>Quer de dia, quer de noite, não peça, nem aceite boleia de estranhos;</li>
						<li>Caminhe contra o sentido do trânsito, a fim de se aperceber de qualquer manobra ou aproximação suspeita de qualquer veículo;</li>
						<li>De noite, caminhe no centro do passeio;</li>
						<li>Evite atalhos através de caminhos ou carreiros mal iluminados, ou através de descampados ou parques, mesmo que tenha que percorrer maiores distâncias.</li>
					</ul><br>

					<h4><b>Entre multidões</b></h4>
					<ul>
						<li>Leve a bolsa sempre debaixo do braço;</li>
						<li>Esteja muito atento às mochilas em ambientes muito movimentados;</li>
						<li>No caso de um encontrão, verifique se a carteira, o telemóvel e os restantes objetos de valor continuam consigo.</li>
					</ul><br>

					<h4><b>Nos multibancos</b></h4>
						<ul>
						<li>Evite utilizar a rede MULTIBANCO em horários noturnos e em locais isolados ou com fraca iluminação. </li>
						<li>Antes de se aproximar de um MULTIBANCO, tenha atenção às pessoas que se encontram nas imediações. </li>
						<li>Caso se aperceba que alguém se comporta de modo suspeito ou lhe suscita um sentimento de desconfiança, escolha outro MULTIBANCO.</li>
						<li>Se notar qualquer atividade ilícita, abandone o local e informe a polícia.</li>
						<li>Depois de completar a transação, guarde o dinheiro e o cartão discretamente antes de abandonar o MULTIBANCO.</li>
						<li>Não fique junto do MULTIBANCO contando e manipulando as notas.</li>
					</ul><br>

                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/security/advice.jpeg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>