<section id="cover" class="mobile-only">
    <div id="security_emergency" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Situações de Emergência</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>Em caso de emergência, ligue 112, o número europeu de emergência. Pessoas com dificuldades auditivas podem contactar o número 961 010 200, o número nacional do serviço “SMS Segurança”.</p>

                    <h4><b>Se for agredido(a)</b></h4>
                    
                    Não ofereça resistência de forma violenta para não ser ferido(a).
                    Fale calmamente com o assaltante e dê-lhe o que ele pedir.
                    Não persiga o ladrão após o assalto. Peça imediatamente ajuda às autoridades competentes.
                    Se o ladrão estiver armado, não foque a atenção na arma.
                    Tente reter na memória a identidade do agressor: estatura e compleição, vestuário, tom de voz, penteado, calçado, etc.
                    Evite que os seus filhos assistam a cenas violentas, e tentar afastá-los do local
                    Comunicação imediata após conhecimento da ocorrência do furto à GNR;
                    
                    <h4><b>Após uma agressão</b></h4>
                    
                    Ir ao Hospital, Serviço de Saúde para ser observada(o), mesmo que não existam sinais evidentes de agressão, e peça ao médico um relatório (os relatórios médicos podem ser apresentados como prova em Tribunal).
                    Não se isole. Procure um lugar seguro e ajuda de familiares ou amigos(as).
                    Procure apoio de um(a) profissional de apoio à vítima.

                    
                    <h4><b>Se For vítima de furto:</b></h4>
                    
                    Participe imediatamente à autoridade policial com jurisdição nessa área;
                    Caso o seu veículo tenha sido furtado, faça uma participação detalhada do veículo e suas características, nomeadamente se existem marcas especiais que possam facilitar a sua recuperação;
                    Dê uma descrição tão exata quanto possível dos objetos de valor que tenham sido furtados

                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/security/security.jpeg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>