<section id="cover" class="mobile-only">
    <div id="security_emergency" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Emergency</h1>
                <hr/>
            </div>

            <div class = "row bottom-space">
                <div class="col-sm-8">
                    <div class="bottom-space">
                        <br>
                        <h4>In case of an emergency, call 112, the European emergency number. People with hearing impairment can contact the number 961 010 200, the number of the Portuguese "SMS Security" service.</h4>
                    </div>

                    <h4><b>If you are assaulted:</b></h4>
                    
                    <ul>
                        <li>Do not resist with violence, to avoid injury;</li>
                        <li>Talk quietly with the assailant and give him whatever he asks for;</li>
                        <li>Do not chase a thief after being robbed, participate the situation to the authorities immediately;</li>
                        <li>If the thief is armed, do not focus on the weapon;</li>
                        <li>Try to retain in memory identifying features of the aggressor: height and complexion, clothing, tone of voice, hairstyle, shoes, etc;</li>
                        <li>Prevent your children from watching violent scenes, and keep them away.</li>
                    </ul>
                    <br>

                    <h4><b>After an Assault</b></h4>
                    
                    <ul>
                        <li>Get yourself checked at a medical center, even if there are no obvious signs of aggression, and ask for a medical report (which can be used as evidence in court);</li>
                        <li>Do not isolate yourself. Find a safe place and the help from family or friends;</li>
                        <li>Seek support from a professional.</li>
                    </ul>
                    <br>

                    <h4><b>If you are victim of a theft:</b></h4>
                    
                    <ul>
                        <li>Immediately call the authority with jurisdiction in the area;</li>
                        <li>If your vehicle has been stolen, make a detailed participation of the vehicle and its characteristics, in particular if there are special marks that may facilitate its recovery;</li>
                        <li>Give as exact a description as possible of the valuables that have been stolen.</li>
                    </ul>
                    <br>

                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/security/security_sq.jpg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>