<section id="cover" class="mobile-only">
    <div id="security_contacts" class="cover-content">
    </div>
</section>

<section id="page_content-with-cover">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Consulates / Embassies</h1>
                <hr/>
            </div>

            <div class = "row">
                <div class="col-sm-8">
                    <p>Available Soom. </p>
                </div>
                
                <div class="col-sm-4 desktop-medium" id="sidebar-outer">
                    <div id="sidebar">
                        <img src="/images/security/world.jpeg" class="img-responsive">
                    </div>
                </div>


            </div>
                     
        </div>

    </div>
</section>