/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.bottom-space {
	padding-bottom: 25px;
}
#page_content-with-cover {
	min-height: 100px;
}
@media (min-width: 768px) {
	#page_content-with-cover {
		min-height: 400px;
	}
}

/*MOBILE VS DESKTOP*/
.mobile-only, .mobile-medium {display:block;}
.desktop-only, .desktop-medium {display:none;}
@media (min-width: 768px) and (max-width: 970px) {
	.mobile-only, .desktop-only {display:none;}
	.mobile-medium, .desktop-medium {display:block;}
}
@media (min-width: 970px) {
	.mobile-only, .mobile-medium {display:none;}
	.desktop-only, .desktop-medium {display:block;}
}

/*COVER AND SIDE IMAGES*/
#cover {
	//margin-top: 100px;
	padding-top:90px;
}

#cover .cover-content {
	//margin-top: 100px;
	padding-top:250px;
	position: relative;
	width: 100%;
	min-height: auto;
	background-size: cover;
	background-position: center;
}
#cover .cover-content a {
	position: absolute;
    right: 0;
    color: white;
    margin-top: -25px;
}
#sidebar-outer {
    position: relative;
}
#sidebar {
   position: fixed;
   width: 25%;
}
#sidebar a{
	position: relative;
	top: -25px;
	right: 5px;
	color: white;
	text-align: right;
}
@media (min-width: 768px) {
  #sidebar {
    width: 213px; /* 632 * .25 */
  }
}
@media (min-width: 992px) {
  #sidebar {
    width: 213px; /* 852 * .25 */
  }
}
@media (min-width: 1200px) {
  #sidebar {
    width: 263px; /* 1052 * .25 */
  }
} 

/*NAVBAR*/
#fatima17 .navbar-default,
#fatima17 #submenu {
  background-color: #84b5f1;
  border-color: rgba(34, 34, 34, 0.05);
  width: 100%;
}
#fatima17 .navbar-default .navbar-header .navbar-toggle .icon-bar{
	background-color: white;
}
#fatima17 .navbar-default .navbar-header .navbar-toggle[aria-expanded="true"]{
	background: #f48942;
}

#fatima17 .navbar-nav > li{
  padding-left: 0px;
  padding-right: 0px;
}

#fatima17 .navbar-default .nav > li > a,
#fatima17 .navbar-default .nav > li > a:focus,
#fatima17 #submenu a {
  font-weight: 600;
  font-size: 16px;
  color: white;
}
#fatima17 .navbar-default .nav > li > a:hover,
#fatima17 .navbar-default .nav > li > a:focus:hover,
#fatima17 #submenu a:hover,
#fatima17 #submenu a:focus:hover  {
  color:  #f48942;
}

#fatima17 .navbar-default .nav > .active > a,
#fatima17 .navbar-default .nav > .active > a:hover,
#fatima17 .navbar-default .nav > .active > a:focus,
#fatima17 #submenu .active > a, 
#fatima17 #submenu .active > a:hover,
#fatima17 #submenu .active > a:focus  {
    color: white;
    background:  #f48942;
}

#fatima17 .navbar-default .nav .dropdown .dropdown-toggle:hover {
	display: block;
}

#fatima17 .navbar-default .nav .dropdown .dropdown-menu > li > a,
#fatima17 .navbar-default .nav .dropdown .dropdown-menu > li > a:focus {
	color: white;
}
#fatima17 .navbar-default .nav .dropdown .dropdown-menu > li > a:hover,
#fatima17 .navbar-default .nav .dropdown .dropdown-menu > li > a:focus:hover {
	color:  #f48942;
}
#fatima17 .navbar-default .nav .dropdown .dropdown-toggle[aria-expanded="true"] {
    color: white;
    background:  #f48942;
}
#fatima17 #navHome {
    position: absolute;
    left: 45%;
}
#fatima17 #emergency_button {
    position: absolute;
    top: -15px;
}
#fatima17 #submenu {
	padding-top: 52px;
	position: fixed;
}

#fatima17 .nav-submenu {
    display:table;
    width:100%;
    margin: 0;
}
#fatima17 .nav-submenu > li {
    float:none;
    display:table-cell;
    text-align:center;
}
#fatima17 #page_content {
	padding-top: 140px;
}
#fatima17 #page_content-with-cover {
	padding-top: 0px;
}

@media (min-width: 768px) {
	#fatima17 .navbar {
		//background: transparent;
	    -webkit-transition: all 0.6s ease-out;
	    -moz-transition: all 0.6s ease-out;
	    -o-transition: all 0.6s ease-out;
	    -ms-transition: all 0.6s ease-out;
	    transition: all 0.6s ease-out;
	}

	#fatima17 .navbar.scrolled {
	    background: #84b5f1;
	}

	#fatima17 .navbar-default .nav > li > a,
	#fatima17 .navbar-default .nav > li > a:focus,
	#fatima17 .navbar-default .navbar-nav>.open>a, 
	#fatima17 .navbar-default .navbar-nav>.open>a:focus, 
	#fatima17 .navbar-default .navbar-nav>.open>a:hover {
		//background-color: transparent;
		color: white
	}
	#fatima17 .navbar-default .nav > li > a:hover,
	#fatima17 .navbar-default .nav > li > a:focus:hover {
		//background-color: transparent;
		color: #f48942;
	}
	#fatima17 .navbar-default .nav > .active > a,
	#fatima17 .navbar-default .nav > .active > a:hover,
	#fatima17 .navbar-default .nav > .active > a:focus,
	#fatima17 .navbar-default .nav .dropdown:hover .dropdown-menu > .active > a  {
	    background-color: #f48942;
	    color: white;
	}
	#fatima17 .navbar-default .nav .dropdown .dropdown-menu > li > a {
		color: #84b5f1;
	}
	#fatima17 .navbar-default .nav .dropdown:hover > ul.dropdown-menu {
		display: block;
	}

	#fatima17 #navHome {
	    left: 3%;
	}
	#fatima17 #page_content {
		padding-top: 0px;
	}
}

@media (min-width: 768px) and (max-width: 970px) {
	#fatima17 .navbar-default .nav > li > a,
	#fatima17 .navbar-default .nav > li > a:focus
	{
	  font-weight: 600;
	  font-size: 14px;
	}
	#fatima17 #navHome {
		width:15%;
	}
}

/*FOOTER*/
#fatima17 footer {
	background-color: #84b5f1;
	color: white;
}
#fatima17 footer h4 {
	font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
}
#fatima17 footer p,
#fatima17 footer form label{
	font-size: 14px;
	font-weight:normal; 
}
#fatima17 footer p{
    margin-top: 15px !important;;
}
#fatima17 footer p a{
	color: white;
}
#fatima17 footer p a:hover{
	color: #f48942;
}

#fatima17 .attraction {
	margin-bottom: 25px;
}

#fatima17 #emergency-button {
	padding-top: 50px;
	padding-bottom: 150px;
}

#fatima17 #emergency-button .btn {
    white-space: normal !important;
    word-wrap: break-word;
}

#page_content-with-cover li {
	font-size: 16px;
}