v-r {
    height: 100%;
    width: 65%;
    border-left: 2px solid #84b5f1;
    position: relative;
    display: inline-block; 
    left: 25%;
}

#vr-top {
  position: relative;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #84b5f1;
    left: calc(25% - 12px);
    width: 26px;
}
#vr-bottom {
  position: relative;
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 2px solid #84b5f1;
    left: calc(25% - 12px);
    width: 26px;
}

.mobile-medium .timeline-container {
    padding-bottom: 100px;
}

.desktop-medium #timeline-container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.timeline-title {
    width: 50%;
    text-align: center;
}
.timeline-title h2{
    color: #f48942;
    //margin-top: 60px;
}
.timeline {
  padding-top: 20px;
}
.timeline-item {
    //position: :relative;
    width:100%;
    height: 100%;
}
.timeline-time {
    position: relative;
    padding-top: 20px;
    font-weight: 800;
    font-size: large;
    display:inline-block;
    height: 100%;
    text-align: right;
    color: #f48942; 
    right: 75px;
}
@media (min-width: 768px) {
  .timeline-time {
    right: 72px;
  }
}
.timeline-time:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #84b5f1, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 0 2px rgba(0, 0, 0, 0.05);
    background: white;
}
.timeline-text {
  position: relative;
  display:inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  left: 20px;
  top: -32px;
}
.timeline-text p {
  margin-bottom: 10px;
}

#timeline-day-selecter label {
  width: 150px;
  line-height: 1;
  margin-bottom: 15px;
}
#timeline-day-selecter label h3,
#timeline-day-selecter label h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}