#cover #history_appearances {
	background-image: url('/images/history/aparicao.jpg');
}

#cover #history_lady {
	background-image: url('/images/history/lady.jpg');
}

#cover #history_shepherds {
	background-image: url('/images/history/children2.jpg');
}

//https://www.flickr.com/photos/pilgrimfatima/11932578126

//https://pt.m.wikipedia.org/wiki/Ficheiro:ChildrensofFatima.jpg
//https://commons.wikimedia.org/wiki/File:Fatima_children_with_rosaries.jpg

//https://commons.wikimedia.org/wiki/File:People_looking_miracle_sun.jpg
//https://commons.wikimedia.org/wiki/File:Miracle_of_the_Sun.jpg