#cover #history_appearances {
	background-image: url('/images/history/aparicao.jpg');
}

#cover #history_lady {
	background-image: url('/images/history/lady.jpg');
}

#cover #history_shepherds {
	background-image: url('/images/history/children2.jpg');
}

#cover #security_contacts {
	background-image: url('/images/security/world.jpeg');
}

#cover #security_advice {
	background-image: url('/images/security/advice.jpeg');
}

#cover #security_emergency {
	background-image: url('/images/security/security.jpeg');
}

#cover #directions_car {
	background-image: url('/images/directions/car.jpeg');
}

#cover #directions_foot {
	background-image: url('/images/directions/walk.jpeg');
}

#cover #directions_transports {
	background-image: url('/images/directions/train.jpeg');
}