<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Atrações</h1>
                <hr/>
            </div>

            <div class = "row attraction">
            	<div class="col-xs-12 col-sm-8" >
            		<h3>Santuário de Fátima</h3>
            		<p>Centro Ecuménico situado no local das Aparições de Nossa Senhora aos Três Pastorinhos, em 1917.</p>

                    <a class="" role="button" data-toggle="collapse" href="#attraction-santuary" aria-expanded="false" aria-controls="attraction-santuary">
                        <p> Mais informação <span class="caret"></span></p>
                    </a>
                    <div class="collapse" id="attraction-santuary">
                        <div>
                            <p>Meu Deus, eu creio, adoro, espero e amo-Vos. Peço-Vos perdão para os que não creem, não adoram, não esperam e não Vos amam.<br>
                        </div>
                    </div>

                    <div class="bottom-space">
                        <a href="https://play.google.com/store/apps/details?id=com.securis.securisprojectfatima.securis_fatimapilgrimage" class="btn btn-default">
                            <i class="fa fa-map-o" aria-hidden="true"></i> Direções
                        </a>
                    </div>

            	</div>

				<div class="col-xs-12 col-sm-4" >
					<img src="/images/attractions/basilicaSantissimaTrindade.JPG"  class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row attraction">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Livraria do Santuário</h3>
            		<p>Livraria do Santuário integrada no interior do Santuário de Nossa Senhora de Fátima.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" width="60%" class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row attraction">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Recinto de Oração</h3>
            		<p>Amplo espaço descoberto, ocupa uma posição central no complexo do Santuário de Fátima.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" width="60%" class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row attraction">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Basílica de Nossa Senhora do Rosário de Fátima</h3>
            		<p>Templo religioso construído no local onde terão ocorrido as aparições da Virgem Maria.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" width="60%" class="img-responsive" alt="">
            	</div> 
            </div>

            <div class = "row attraction">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Capelinha das Aparições</h3>
            		<p>Construído em resposta ao pedido de Maria, é o local de culto mais popular.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" width="60%" class="img-responsive" alt="">
            	</div>
            </div>
                     
        </div>

    </div>
</section>