<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Atrações</h1>
                <hr/>
            </div>

            <div class = "row">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Santuário de Fátima</h3>
            		<p>Centro Ecuménico situado no local das Aparições de Nossa Senhora aos Três Pastorinhos, em 1917.</p>
            		<p>O Santuário de Nossa Senhora do Rosário de Fátima é um santuário mariano dedicado à Nossa Senhora de Fátima, localizado na Cova da Iria, em Fátima, Portugal. Construído a pedido expresso de Nossa Senhora, na Aparição de Outubro de 1917 aos Três Pastorinhos, tem como missão preservar a memória dos acontecimentos que levaram à sua fundação. É atualmente um dos mais importantes santuários marianos do mundo pertencentes à Igreja Católica e, por vontade expressa da Sé Apostólica, este é um Santuário Nacional. O Santuário de Fátima foi distinguido com duas Rosas de Ouro papais, em reconhecimento e recompensa por assinalados serviços prestados à Igreja ou a bem da sociedade. A primeira Rosa de Ouro foi concedida pelo Papa Paulo VI, a 21 de Novembro de 1964, e a segunda foi entregue pelo Papa Bento XVI, durante a sua peregrinação a Fátima, a 12 de Maio de 2010.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Livraria do Santuário</h3>
            		<p>Livraria do Santuário integrada no interior do Santuário de Nossa Senhora de Fátima.</p>
            		<p>Oferece a quem a visita uma vasta quantidade de publicações de livros e revistas de carácter religioso.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" width="50%" class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Recinto de Oração</h3>
            		<p>Amplo espaço descoberto, ocupa uma posição central no complexo do Santuário de Fátima.</p>
            		<p>O Recinto de Oração do Santuário de Fátima é um vasto espaço aberto, convidativo à interioridade e à oração. É neste espaço que se concentram os peregrinos para assistir às celebrações de Fátima. A Capelinha das Aparições constitui o coração do Recinto e é possível encontrar neste espaço diversos monumentos e esculturas:</p>
            		<ul>
						<li>O Monumento ao Sagrado Coração de Jesus é uma estátua de bronze dourada sustentada sobre um fontanário;</li>
						<li>Um Presépio triangular, alusivo à Santíssima Trindade;</li>
						<li>O monumento-memorial, dedicado ao cónego Dr. Manuel Nunes Formigão e padre Prof. Dr. Luís Fischer, dois ilustres sacerdotes que estiveram nos fundamentos da historiografia das Aparições de Fátima e da difusão da sua mensagem, é constituído por sete painéis de granito verde-pérola.</li>
					</ul>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Basílica de Nossa Senhora do Rosário de Fátima</h3>
            		<p>Templo religioso construído no local onde terão ocorrido as aparições da Virgem Maria.</p>
            		<p>Basílica integrante do Santuário de Fátima, onde repousam os restos mortais dos Três Pastorinhos. Integra o Santuário de Fátima e ergue-se no local onde, a 13 de Maio de 1917, os Três Pastorinhos brincavam, quando avistaram o relâmpago que antecedeu a primeira Aparição de Nossa Senhora. Sobre a entrada principal da Basílica, encontra-se um mosaico representativo da Sacratíssima Trindade a coroar Nossa Senhora. Os túmulos dos três pastorinhos encontram-se no extremo direito (Francisco) e esquerdo (Jacinta e Lúcia) do transepto.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" class="img-responsive" alt="">
            	</div>
            </div>

            <div class = "row">
            	<div class="col-xs-12 col-sm-9" >
            		<h3>Capelinha das Aparições</h3>
            		<p>Construído em resposta ao pedido de Maria, é o local de culto mais popular.</p>
            		<p>Foi no local onde se encontra a Capelinha que Nossa Senhora falou aos pastorinhos. Das seis aparições da Virgem Maria, cinco aconteceram neste local – Maio, Junho, Julho, Setembro e Outubro – onde, por indicação da Senhora, haveria de ser construída uma capela em sua honra. Embora sujeita a ligeiras alterações, a Capelinha das Aparições mantém os traços originais e característicos de uma ermida popular. O alpendre atual foi inaugurado aquando da primeira vinda de João Paulo II ao Santuário de Fátima, nos dias 12 e 13 de maio de 1982. A peanha onde se encontra a Imagem de Nossa Senhora marca o sítio onde estava a pequena azinheira sobre a qual a Senhora do Rosário apareceu.</p>
            	</div>
				<div class="col-xs-12 col-sm-3" >
					<img src="/images/default.jpg" class="img-responsive" alt="">
            	</div>
            </div>
                     
        </div>

    </div>
</section>