<%= yield :google_analytics %>

<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Contactos</h1>
                <hr/>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2" >
	            <div class="explore_contact">
					<h4>Número Nacional de Emergência</h4>
					<h4><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:112"> 112</a></h4>
					<br>

					<h4>Bombeiros Voluntários Ourém</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249540500"> 249 540 500</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:geral@bvfatima.pt"> bgeral@bvfatima.pt</a>
					</h4>
					<br>

					<h4>Bombeiros Voluntários Fátima</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249531200"> 249 531 200</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:geral@bvfatima.pt"> geral@bvfatima.pt</a>
					</h4>
					<br>
					
					<h4>Bombeiros Voluntários Caxarias</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249574415"> 249 574 415</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:secretaria@bombeiroscaxarias.pt"> secretaria@bombeiroscaxarias.pt</a>
					</h4>
					<br>

					<h4>PSP - Polícia de Segurança Pública</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249540440"> 249 540 440</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ourem.santarem@psp.pt"> ourem.santarem@psp.pt</a>
					</h4>
					<br>

					<h4>GNR - Guarda Nacional Republicana (Ourém)</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249540310"> 249 540 310</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ct.str.dtmr.pour@gnr.pt"> ct.str.dtmr.pour@gnr.pt</a>
					</h4>
					<br>


					<h4>GNR - Guarda Nacional Republicana (Fátima)</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249530580"> 249 530 580</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ct.str.dtmr.pftm@gnr.pt"> ct.str.dtmr.pftm@gnr.pt</a>
					</h4>
					<br>

					<h4>Centro de Saúde Ourém</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249540630"> 249 540 630</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ucsp.ourem@arslvt.min-saude.pt"> ucsp.ourem@arslvt.min-saude.pt</a>
					</h4>
					<br>

					<h4>Centro de Saúde Fátima</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351249531836"> 249 531 836</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:csfat@csfatima.srssantarem.min-saude.pt"> csfat@csfatima.srssantarem.min-saude.pt</a>
					</h4>
					<br>

					<h4>Centro Hospitalar de Leiria</h4>
					<h4>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351244817000"> 244 817 000</a> | 
						<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:sec.urgenciageral@chleiria.min-saude.pt "> sec.urgenciageral@chleiria.min-saude.pt </a>
					</h4>
					<br>
					
	            <div>
            <div>      
        </div>

    </div>
</section>