<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98662075-1', 'auto');
    ga('send', 'pageview');

</script>


<section id="page_content">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" >

            <div class="desktop-medium">
                <h1>Explore</h1>
                <hr/>
            </div>

            <div class = "row">
            	<div class="col-xs-12 col-sm-5 col-sm-offset-1 " >
                    <p>Interactive Map with the following information:</p>
                    <ul>
                        <li> Tourist and religious attractions </li>
                        <li> Medical and Security Services </li>
                        <li> Parking lots </li>
                        <li> Public Transportation </li>
                        <li> Utilities: drinking water, toilets, pharmacies </li><li> Event Screens </li>
                    </ul>
                    <p> Available in the mobile version. </p>

                    <div class="download-link bottom-space">
                        <a href="https://play.google.com/store/apps/details?id=com.securis.securisprojectfatima.securis_fatimapilgrimage" class="btn btn-warning">
                            <i class="fa fa-download" aria-hidden="true"></i> Download application
                        </a>
                    </div>
            	</div>

				<div class="col-xs-12 col-sm-6 bottom-space">
					<img src="/images/index/features/app.jpg" width="50%" class="img-responsive center-block" alt=""> 
            	</div>
            </div>
                     
        </div>

    </div>
</section>